@model IEnumerable<ProjectSampleDBData>
@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "Step3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <!-- <li>
                @Html.ActionLink(localizer.Text.project_list, "ProjectIndex", "Home")
            </li>
            <li>
                <a href="@Url.Action("Step3", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"],project_cht=ViewData["Project_cht"] })">@ViewData["Project_cht"]</a>
            </li> -->
        </ul>
    </div>
</section>
<section class="project_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="project_title">
                        <h4>@ViewData["Project_cht"]</h4>
                    </div>
                    <div class="status_bar">
                        <h4 class="method">K匿名隱私強化流程</h4>
                        <div class="status">
                            <div class="status_no_line">
                                <h6>@localizer.Text.step2</h6>
                                <p>@localizer.Text.step2_menu_list</p>
                                <h3>1</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow active">
                                <h6>@localizer.Text.step3</h6>
                                <p>@localizer.Text.step3_menu_list</p>
                                <h3>2</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>隱私強化處理</h6>
                                <p>@localizer.Text.step4_menu_list</p>
                                <h3>3</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>報表產生與資料匯出</h6>
                                <p>@localizer.Text.step6_menu_list</p>
                                <h3>4</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="project_content">
                        <h4 class="title">
                            @localizer.Text.g_setting
                            <!--span.step03 下載.txt格式-->
                        </h4>
                        <form class="form" action="" method="post" role="form">
                            <label class="label_step3">@localizer.Text.k_value</label>
                            @{
                                var mink = ViewData["mink"];
                                var t1 = ViewData["T1"];
                                var t2 = ViewData["T2"];
                                var r_value = ViewData["r_value"];
                                if (mink.ToString() == "")
                                {
                                    <input class="m_input" id="k_value" placeholder="ex.3" required="">
                                }
                                else
                                {
                                   
                                    <input class="m_input" id="k_value" placeholder="ex.3" required="" value="@mink">
                                }
                            }
                            <br />
                          @*  <label class="label_step3">@localizer.Text.r_value</label>
                            @{
                                //var mink = ViewData["mink"];
                                if (t1.ToString() == "")
                                {
                                    <input class="m_input" id="r_value" placeholder="ex.0.33" required="">
                                }
                                else
                                {
                                    <input class="m_input" id="r_value" placeholder="ex.0.33" required="" value="@r_value">
                                }
                            }
                            <br />
                            <label class="label_step3">@localizer.Text.t1_value</label>
                            @{
                                // var mink = ViewData["mink"];
                                if (t2.ToString() == "")
                                {
                                    <input class="m_input" id="t1_value" placeholder="ex.0.05" required="">
                                }
                                else
                                {
                                    <input class="m_input" id="t1_value" placeholder="ex.0.05" required="" value="@t1">
                                }
                            }
                            <br />
                            <label class="label_step3">@localizer.Text.t2_value</label>
                            @{
                                // var mink = ViewData["mink"];
                                if (r_value.ToString() == "")
                                {
                                    <input class="m_input" id="t2_value" placeholder="ex.0.27" required="">
                                }
                                else
                                {
                                    <input class="m_input" id="t2_value" placeholder="ex.0.27" required="" value="@t2">
                                }
                            }*@



                            <label id="project_id" style="display:none">@ViewData["ProjectId"]</label>
                            <label id="project_name" style="display:none">@ViewData["ProjectName"]</label>
                            <label id="pname_cht" style="display:none">@ViewData["Project_cht"]</label>
                            <label id="all_qi" style="display:none">@ViewData["all_qi"]</label>
                            <label id="project_status" style="display:none">@ViewData["projectstatus"]</label>
                            <label id="tbDatacount" style="display: none">@Model.Count()</label>
                        </form>


                        <div class="r_table">
                            <div class="tabs">
                                @{
                                    int i = 1;
                                    foreach (var item in Model)
                                    {
                                        string datatab = "tab-" + i.ToString();
                                        string tbnm = "tb-" + i.ToString();
                                        if (i == 1)
                                        {
                                            <div class="tab_step3 active" data-tab="@datatab">
                                                <div class="tab-box_step3"></div>
                                                <div class="title"> <label id="@tbnm" class="tab_title">@item.pro_tb</label></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="tab_step3" data-tab="@datatab">
                                                <div class="tab-box_step3"></div>
                                                <div class="title"> <label id="@tbnm" class="tab_title">@item.pro_tb</label></div>
                                            </div>
                                        }
                                        i++;
                                    }
                                }
                            </div>
                            <div class="contents content-tabs-body">
                                @{
                                    int s = 1;

                                    foreach (var items in Model)
                                    {
                                        string datatab = "tab-" + i.ToString();
                                        string tabcontent = "tab-" + s.ToString();
                                        string tabform = "form" + s.ToString();
                                        string tbcolname = "tbcol_" + s.ToString();
                                        string tbcolqi = "qicol_" + s.ToString();
                                        string qi_value = items.qi_col;
                                        if (qi_value != "")
                                        {
                                            var colarray = qi_value.Split(",");
                                            string newcol = "";
                                            for (int x = 0; x < colarray.Length; x++)
                                            {
                                                var qiarr = colarray[x].Split('-');
                                                newcol += qiarr[0] + ",";
                                            }

                                            newcol = newcol.Substring(0, newcol.Length - 1);
                                            <label id="@tbcolname" style="display: none">@newcol</label>
                                            <label id="@tbcolqi" style="display: none">@items.gen_qi_settingvalue</label>
                                        }
                                        <div class="tab-content current" id="@datatab">
                                            <table class="table_step3">
                                                <tr class="form_title">
                                                    <th class="n">@localizer.Text.col_name</th>
                                                    <th class="a">@localizer.Text.col_attr</th>
                                                    <th class="m">@localizer.Text.g_and_sensitive</th>
                                                    <th class="v">@localizer.Text.method</th>
                                                </tr>
                                            </table>
                                            <table class="table_step3" id="@tabform"></table>
                                        </div>
                                        s++;
                                    }
                                }
                            </div>
                            <div class="btn btn_sbe btn_back" id="backpet" onclick="returntopage()">回主系統</div>
                            <div class="btn btn_sbe btn_back" id="back" onclick="backStep2()">@localizer.Text.back</div>
                            @*<div class="btn btn_sbe btn_back" id="save" onclick="getData()">@localizer.Text.save</div>*@
                            <div class="btn btn_mbs btn_next" id="next">
                                @*<a class="a_unstyled" href="step3_02.html">下一步</a>*@
                                @*@Html.ActionLink("下一步", "Step3_2", "ProjectStep", null, new { @class = "a_unstyled" })*@
                                <a class="a_unstyled" href="javascript:void(0)" onclick="SaveProjectTableStep()">@localizer.Text.next</a>
                            </div>
                        </div>

                        <label id="selectlang" style="display:none">@localizer.Text.select</label>
                        <label id="add" style="display:none">@localizer.Text.add</label>
                        <label id="datelang" style="display:none">@localizer.Text.date</label>
                        <label id="substring" style="display:none">@localizer.Text.substring</label>
                        <label id="unit_interval" style="display:none">@localizer.Text.unit_interval</label>
                        <label id="numerical_interval" style="display:none">@localizer.Text.numerical_interval</label>
                        <label id="num_min" style="display:none">@localizer.Text.num_min</label>
                        <label id="num_max" style="display:none">@localizer.Text.num_max</label>
                        <label id="num_updown" style="display:none">@localizer.Text.num_updown</label>
                        <label id="no_process" style="display:none">@localizer.Text.no_process</label>
                        <label id="check_kvalue" style="display:none">@localizer.Message.no_k_value</label>
                        <label id="check_rvalue" style="display:none">@localizer.Message.no_r_value</label>
                        <label id="check_t1" style="display:none">@localizer.Message.no_t1_value</label>
                        <label id="check_t2" style="display:none">@localizer.Message.no_t2_value</label>
                        <label id="updown_error" style="display:none">@localizer.Message.updown_error</label>
                        <label id="updown_num_error" style="display:none">@localizer.Message.updown_num_error</label>
                        <label id="updown_up_error" style="display:none">@localizer.Message.updown_up_error</label>
                        
                        <label id="returnurl" style="display: none">@ViewData["returnurl"]</label>
                        <label id="loginname" style="display: none">@ViewData["loginname"]</label>
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
      function returntopage() {
         // location.href = "/Home/ProjectIndex";
           var return_url =$('#returnurl').text();
        location.href = return_url;
    }

    function backStep2() {
        //alert('back');
        var pid = $('#project_id').text();
        var pname = $('#project_name').text();
        var pname_cht = $('#pname_cht').text();
        var return_url =$('#returnurl').text();
       // location.href = return_url;
        var loginname =$('#loginname').text();
        location.href = "@Url.Action("Step2", "ProjectStep")/?proj_id=" + encodeURIComponent(pid) + "&project_name=" + encodeURIComponent(pname) + "&project_cht=" + encodeURIComponent(pname_cht)+ "&loginname=" + encodeURIComponent(loginname) + "&returnurl=" + encodeURIComponent(return_url);
      
    }
        function SaveProjectTableStep() {
            //alert('33333');
            var pid = $('#project_id').text();
            var pname = $('#project_name').text();
            var pname_cht = $('#pname_cht').text();
            var check_kvalue = $('#check_kvalue').text();
            var updown_error = $('#updown_error').text();
            var updown_num_error = $('#updown_num_error').text();
            var updown_up_error = $('#updown_up_error').text();
            var tbDatacount = $('#tbDatacount').text();
            var return_url =$('#returnurl').text();
            var loginname =$('#loginname').text();
            //alert(return_url);
            //var t1 = $('#t1_value').val();
            //var t2 = $('#t2_value').val();
            //var r_value = $('#r_value').val();
            var k_value = $('#k_value').val();
            var re = /^[0-9]+$/;
            var reg = /^(\d{0,2})(\.\d{1,4})?$/;
            if (!re.test(k_value)) {
                //alert(k_value);
                alert("K值只能輸入數字");
                return false;
            }

            //if (!reg.test(r_value)) {
            //    alert("R值只能輸入數字或超過十位數與小數第二位!");
            //    return false;
            //}

            //if (!reg.test(t1)) {
            //    alert("T1值只能輸入數字或超過十位數與小數第二位!");
            //    return false;
            //}

            //if (!reg.test(t2)) {
            //    alert("T2值只能輸入數字或超過十位數與小數第二位!");
            //    return false;
            //}


            if (k_value == "") {
                alert(check_kvalue);
                return false;
            }

            // if (r_value == "") {
            //    alert('組織可接受之重新識別機率未填!');
            //    return false;
            //}

            // if (t1 == "") {
            //    alert('內部攻擊發生機率未填!');
            //    return false;
            //}

            // if (t2 == "") {
            //    alert('資料洩漏發生機率未填!');
            //    return false;
            //}

            if (parseInt(k_value) <= 1) {
                alert('風險K值必須大於一');
                return false;
            }
            var selectqicountvalue = "";
            for (var x = 0; x < parseInt(tbDatacount); x++) {
                var tbnm = "#tb-" + (x + 1).toString();
                var tbname = $(tbnm).text();
                //var tbData = "#form" + (x + 1).toString();
                var tbcol = "#tbcol_" + (x + 1).toString();
                //var tablenum = "#table_" + (x + 1).toString();
                var colqidata = $(tbcol).text();
                //alert(colqidata);
                var colqiarr = new Array();
                colqiarr = colqidata.split(',');
                var selecttitlevalue = "";
                var selectchildvalue = "";
                for (var i = 0; i < colqiarr.length; i++) {
                    var jsselectid = "#" + tbname + "_getgenselect_" + (i + 1) + " option:selected";
                    var jsselectvalueid = "#" + tbname + "_getgenselectvalue_" + (i + 1) + " option:selected";
                    var inputselectvalue = "#" + tbname + "_getgenselectvalue_" + (i + 1);
                    //alert(jsselectid);
                    var selectitemvalue = $(jsselectid).val();
                   // alert(selectitemvalue);
                    var selectvalue = "";
                    if (selectitemvalue == "0" || selectitemvalue == "7") { //不處理或請選擇
                        selectvalue = "0";
                    }
                    else if (selectitemvalue == "6")
                    {
                        //input
                        var selectinputvalue = $(inputselectvalue).val();
                        //驗證
                        var updownlevel = new Array();
                        updownlevel = selectinputvalue.split(',');
                        if (updownlevel.length != 3) {
                            alert(updown_error);
                            return false;
                        }
                        //if (!re.test(updownlevel[0])) {
                        //    alert(updown_num_error);
                        //    return false;
                        //}
                        if (!re.test(updownlevel[1])) {
                            alert(updown_num_error);
                            return false;
                        }
                        if (!re.test(updownlevel[2])) {
                            alert(updown_num_error);
                            return false;
                        }

                        if (parseInt(updownlevel[0]) > parseInt(updownlevel[2])) {
                            alert(updown_up_error);
                            return false;
                        }
                        for (z = 0; z < updownlevel.length; z++) {
                            selectvalue += updownlevel[z] + '#';
                        }

                        selectvalue = selectvalue.substring(0, selectvalue.length - 1);
                    }
                    else {
                        selectvalue = $(jsselectvalueid).val();
                    }
                    selecttitlevalue += selectitemvalue + ",";
                    selectchildvalue += selectvalue + ",";
                    //alert('selecttitlevalue : ' + selecttitlevalue);
                    //alert('selectchildvalue : ' + selectchildvalue);
            }

                selecttitlevalue = selecttitlevalue.substring(0, selecttitlevalue.length - 1);
                selectchildvalue = selectchildvalue.substring(0, selectchildvalue.length - 1);
                selectqicountvalue += tbname+"*"+selecttitlevalue + "*" + selectchildvalue+"|";
            }
          //  alert('tobase64');
          //var new_rt = r_value+","+t1+","+t2;
          //alert(new_rt);
          //var new_rtvaluebase64 = encodeURIComponent(new_rt);
          //alert(new_rtvaluebase64);
            //var return_url =$('#return_url').text();
       // location.href = return_url;
          var newselectqibase64 = encodeURIComponent(selectqicountvalue.toString());
           // alert(newselectqibase64);
            //alert('finish base64');
            //location.href = "@Url.Action("Step3_2", "ProjectStep")/?proj_id=" + encodeURIComponent(pid) + "&project_name=" + encodeURIComponent(pname) + "&kvalue=" + encodeURIComponent(k_value) +"&base64selectqi=" + newselectqibase64 + "&project_cht=" + encodeURIComponent(pname_cht)+"&new_rtvalue="+new_rtvaluebase64;
            location.href = "@Url.Action("Step3_2", "ProjectStep")/?proj_id=" + encodeURIComponent(pid) + "&project_name=" + encodeURIComponent(pname) + "&kvalue=" + encodeURIComponent(k_value) +"&base64selectqi=" + newselectqibase64 + "&project_cht=" + encodeURIComponent(pname_cht)+ "&loginname=" + encodeURIComponent(loginname) + "&returnurl=" + encodeURIComponent(return_url);
        }

</script>
<script>
    $(document).ready(function () {
        //alert('xxxxx');
        $('ul.tabs li').click(function () {
            $('.content-tabs-body').hide(0).fadeIn()
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        });

        var tbDatacount = $('#tbDatacount').text();
        for (var x = 0; x < parseInt(tbDatacount); x++) {
            //alert('vvvv');
            var tbnm = "#tb-" + (x + 1).toString();
            //alert(tbnm);
            var tbname = $(tbnm).text();
            //alert(tbname);
            var qi_sett = "#qicol_" + (x + 1).toString();
            // alert('qisett');
            //alert(qi_sett);
            var qi_strsetting = $(qi_sett).text();
            //alert(qi_strsetting);
            var qi_setarr = new Array();
            qi_setarr = qi_strsetting.split('*');
            if (qi_setarr.length > 1) {
                //alert('>');
                //alert(qi_setarr);
                //alert(qi_setarr.length);
                //alert(qi_setarr[0]);
                //alert(tbname);
                if (qi_setarr[0] == tbname) {
                    // alert('1111')
                    var qi_level1 = new Array();
                    var qi_level2 = new Array();
                    //alert(qi_setarr[1]);
                    //alert(qi_setarr[2]);
                    qi_level1 = qi_setarr[1].split(',');
                    qi_level2 = qi_setarr[2].split(',');
                    for (var qix = 0; qix < qi_level1.length; qix++) {

                        //alert('loop1 :' + qix.toString());
                        var qiselectname = '#' + tbname + '_getgenselect_' + (qix + 1).toString();
                        var qiselectvalue = '#' + tbname + '_getgenselectvalue_' + (qix + 1).toString();
                        //alert('222');
                        // $(qiselectname).val() = qi_level1[qix];
                        var qi_selectoption_0 = qiselectname + ' option[value=\'0\']';
                        // alert(qi_selectoption_0);
                        $(qi_selectoption_0).attr('selected', 'selected');
                        //alert('loop');

                        var qi_selectoption = qiselectname + ' option[value=\'' + qi_level1[qix] + '\']';
                        //alert(qi_selectoption);// alert('loop');

                        $(qi_selectoption).attr('selected', 'selected');
                        if (qi_level1[qix] != '0') {
                            // alert('loop :' + qi_level1[qix]);

                                var lv2id = tbname + "_getgenselect_" + (qix + 1);
                                var o = document.getElementById(lv2id);
                                if (o.fireEvent) {
                                    o.fireEvent('onchange');
                                }
                                else {
                                    o.onchange();
                                }

                            //alert('2');
                            //   alert(qiselectname);
                            // alert(qiselectvalue);
                            if (qi_level1[qix] != '6') {
                            var qi_selectvalueoption = qiselectvalue + ' option[value=\'' + qi_level2[qix] + '\']';
                            $(qi_selectvalueoption).attr('selected', 'selected');
                            // alert('done');
                            }
                            else {
                                //=6
                                var newinputstr = "";
                                //alert(qi_level2[qix]);
                                var new_uplodown = new Array();
                                new_uplodown = qi_level2[qix].split('#');
                                //alert(new_uplodown.length);
                                for (y = 0; y < new_uplodown.length; y++) {
                                    newinputstr += new_uplodown[y] + ",";
                                }
                                //alert(newinputstr);
                                newinputstr = newinputstr.substring(0, newinputstr.length - 1);
                                $(qiselectvalue).val(newinputstr);
                            }
                        }
                    } //alert('loop');newinputstr
                }
            }
        }
        //alert('test2');
    });
</script>
<script>
    //alert('22222')num_updown
        var tbDatacount = $('#tbDatacount').text();
        var pid = $('#project_id').text();
        var pname = $('#project_name').text();
        var pname_cht = $('#project_cht').text();
        var pstatus = $('#project_status').text();
        var selectlang = $('#selectlang').text();
        var add = $('#add').text();
        var datelang = $('#datelang').text();
        var strsubstring = $('#substring').text();
        var unit_interval = $('#unit_interval').text();
        var numerical_interval = $('#numerical_interval').text();
        var num_min = $('#num_min').text();
        var num_max = $('#num_max').text();
        var no_process = $('#no_process').text();
        var num_updown = $('#num_updown').text();
        for (var x = 0; x < parseInt(tbDatacount); x++) {
            var tbnm = "#tb-" + (x + 1).toString();
            var tbname = $(tbnm).text();
            //alert('22222 :'+tbname);
            //var colname = ["身分證號", "保險證號", "保險別", "投保單位名稱", "保費年月"]
            var tbData = "#form" + (x + 1).toString();
            var tbcol = "#tbcol_" + (x + 1).toString();
            var tablenum = "#table_" + (x + 1).toString();
            var colname = [];
            var colqidata = $(tbcol).text();
            //alert(colqidata);
            var colarr = colqidata.split(',');
            //alert(colqidata);
            colname = colarr;
            var conf = [
                { "method": selectlang, "element": "none" },
                { "method": add, "element": "select", "value": ["直轄市、縣、市", "鄉、鎮、縣轄市、區", "村、里", "大道、路、街", "段", "巷", "弄", "號"] },
                { "method": datelang, "element": "select", "value": ["西元-YYYY", "西元-YYYY-MM", "西元-YYYY-MM-DD", "民國年", "民國年+月"] },
                { "method": strsubstring, "element": "select", "value": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"] },
                { "method": num_max, "element": "select", "value": ["十", "百", "千", "萬", "十萬", "百萬", "千萬", "億", "兆"] },
                { "method": num_min, "element": "select", "value": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30"]  },
                { "method": num_updown, "element": "input"},
                { "method": no_process, "element": "none" }
                //{"method": "數字區間", "element": "btn"},
                //{"method": "Hash", "element": "select", "value": ["*****"]}f
            ]
            //alert('33333');
            function dynamic_create(s, row_index) {

                eval('var current_form = document.g_setting_form_' + row_index);
                if (current_form.childNodes.length > 1) {
                    for (i = current_form.childNodes.length - 1; i > 0; --i) {
                        current_form.removeChild(current_form.childNodes[i])
                    }
                }
                
                current_conf = conf[s]
                switch (current_conf.element) {
                    case "select":
                        var selectElement = document.createElement("select");
                        selectElement.setAttribute("name", "value");
                        selectElement.setAttribute("id", tbname + "_getgenselectvalue_" + (row_index + 1));
                        selectElement.setAttribute("class", "value");
                        selectElement.setAttribute("size", "1");
                        current_form.appendChild(selectElement);
                        for (var i = 0; i < current_conf.value.length; i++) {

                            current_form.value.options[i] = new Option(current_conf.value[i], current_conf.value[i]);
                        }
                        current_form.value.length = current_conf.value.length;
                        break;
                    case "input":
                        var fromElement = document.createElement("input");
                        fromElement.setAttribute("name", "from");
                        fromElement.setAttribute("id", tbname + "_getgenselectvalue_" + (row_index + 1));
                        fromElement.setAttribute("type", "text");
                        fromElement.setAttribute("class", "input");
                        fromElement.setAttribute("placeholder", "ex.0,10000,100000");
                        eval('document.g_setting_form_' + row_index + '.appendChild(fromElement)');
                        break;

                    case "btn_input":
                        var textElement = document.createElement("input")
                        textElement.setAttribute("name", "from")
                        textElement.setAttribute("type", "text")
                        textElement.setAttribute("class", "input")
                        var btnElement = document.createElement("input")
                        btnElement.setAttribute("name", "custom")
                        btnElement.setAttribute("type", "button")
                        btnElement.setAttribute("class", "btn btn-primary gen_cus_btn")
                        btnElement.setAttribute("data-toggle", "modal")
                        btnElement.setAttribute("data-target", "#gen_setting")
                        btnElement.setAttribute("id", "gen_btn")
                        btnElement.setAttribute("value", "自訂")
                        eval('document.g_setting_form_' + row_index + '.appendChild(btnElement)')
                        eval('document.g_setting_form_' + row_index + '.appendChild(textElement)')

                        break;

                    case "btn":
                        var btnElement = document.createElement("input")
                        btnElement.setAttribute("name", "custom")
                        btnElement.setAttribute("type", "button")
                        btnElement.setAttribute("class", "btn btn-primary gen_cus_btn")
                        btnElement.setAttribute("data-toggle", "modal")
                        btnElement.setAttribute("data-target", "#gen_setting")
                        btnElement.setAttribute("id", "gen_btn")
                        btnElement.setAttribute("value", "設定")
                        eval('document.g_setting_form_' + row_index + '.appendChild(btnElement)')

                        break;
                }
            }


            function show_selection() {
                for (var row_index = 0; row_index < colname.length; row_index++) {
                    eval('current_method_element = document.g_setting_form_' + row_index + '.method')
                   // alert(current_method_element.value)
                    //alert(current_method_element.selectedIndex)
                    eval('current_conf = conf[' + current_method_element.selectIndex + ']')
                    //alert(current_conf.element)
                    //alert(colname[selectedIndex] + ", " + current_method_element.value)
                }
            }

            //20220314 add qi column
            var all_qi = $('#all_qi').text();
            //alert(all_qi);
            var new_qiarr = all_qi.split(',');
            var table_html = "<tr><td class='g_colname'>{{id}}</td>" +
                "<td class='g_attr'>{{qi}}</td>" +
                "<td>" +
                "<form class='g_form' name={{form_name}}>" +
                "<select class='method' name='method' size='1' id={{select_id}} onchange='dynamic_create(this.selectedIndex, {{num}});'>" +
                "</select>" +
                "</form>" +
                "</td></tr>"

            for (var row_index = 0; row_index < colname.length; row_index++) {
                var qi_split = new_qiarr[row_index].split('-');
                var qi_name="";
                if(qi_split[1]=="1")
                {
                    qi_name='間接識別';
                }
                else
                {
                    qi_name='敏感欄位'
                }
                //alert('222')
                var current_table_html =
                    table_html.replace("{{id}}", colname[row_index])
                        .replace("{{select_id}}", tbname + '_getgenselect_' + (row_index + 1).toString())
                        .replace("{{form_name}}", 'g_setting_form_' + row_index)
                        .replace("{{qi}}", qi_name)
                        .replace("{{num}}", row_index);
                        //.replace("{{tablename}}", tbname);
                $(tbData).append(current_table_html);
                //alert('223')

                for (var i = 0; i < conf.length; i++) {
                    eval('document.g_setting_form_' + row_index + '.method.options[i] = new Option(conf[i].method, i)')
                }
                eval('document.g_setting_form_' + row_index + '.method.length=conf.length')
            }


        }
</script>