@model IEnumerable<ProjectSampleDBData>
@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "Step5_2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <li>
                @Html.ActionLink(localizer.Text.project_list, "ProjectIndex", "Home")
            </li>
            <li>
                <a href="@Url.Action("Step5_4", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"],project_cht=ViewData["Project_cht"] })">@ViewData["Project_cht"]</a>
            </li>
        </ul>
    </div>
</section>
<section class="project_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="project_title">
                        <h4>@ViewData["Project_Cht"]</h4>
                    </div>
                    <div class="status_bar">
                        <h4 class="method">可用性分析流程</h4>
                        <div class="status">
                            <div class="status_no_line">
                                <h6>@localizer.Text.step5_1</h6>
                                <p>@localizer.Text.step5_1_menu_list</p>
                                <h3>1</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow active">
                                <h6>@localizer.Text.step5_2</h6>
                                <p>@localizer.Text.step5_2_menu_list</p>
                                <h3>2</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="project_content">
                        <h4 class="title">@localizer.Text.step5_2</h4>
                        <h6>@localizer.Text.dataset_name：@ViewData["pro_tb"]</h6>
                        <div class="r_table utility_table">
                            <div class="tabs">
                                @{
                                    int rpcount = 0;
                                    var rpcount_str = ViewData["RP_Count"];
                                    var tabcollist = ViewData["project_col_list"];
                                     if( rpcount_str != null)
                                {
                                    rpcount = int.Parse(rpcount_str.ToString());
                                }
                                    if (tabcollist != null)
                                    {
                                        var tab_arr = tabcollist.ToString().Split(',');
                                        for (int i = 0; i < rpcount; i++)
                                        {
                                            var tabname = tab_arr[i].ToString();
                                            if (i == 0)
                                            {
                                                <div class="tab active"><div class="tab-box"></div><div class="title">@tabname</div></div>
                                            }
                                            else
                                            {
                                                <div class="tab"><div class="tab-box"></div><div class="title">@tabname</div></div>
                                            }
                                        }
                                    }
                                }

                                @*<div class="tab"><div class="tab-box"></div><div class="title">感興趣欄位三</div></div>*@
                            </div>
                            <div class="contents">
                                @{
                                    for (int z = 0; z < rpcount; z++)
                                    {
                                        var classnm = "content";
                                        if (z == 0)
                                        {
                                            classnm = "content active";
                                        }
                                        <div class="@classnm">
                                            @{
                                                for (int xz = 1; xz < 3; xz++)
                                                {
                                                    var tablenm = "tb" + (z + 1).ToString() + "_utility0" + xz.ToString();
                                                    var tb_desc = "";

                                                    if (xz == 1)
                                                    {
                                                        tb_desc = "raw / raw 由原始資料建模，原始資料做驗證";
                                                    }
                                                    else if (xz == 2)
                                                    {
                                                        tb_desc = "deId / deId 由去識別化資料建模，去識別化資料做驗證";
                                                    }

                                                    <div class="table_wapper">
                                                        <table class="table table-bordered table_info table_utility" id="@tablenm">
                                                            <thead class="thead-dark">
                                                                <h5 class="u_h5">@tb_desc</h5>
                                                                <tr>
                                                                    <th>模型</th>
                                                                    <th>訓練資料分數</th>
                                                                    <th>驗證資料分數</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label id="pid" style="display: none">@ViewData["ProjectId"]</label>
    <label id="rp_count" style="display: none">@ViewData["RP_Count"]</label>
    <label id="ifred" style="display: none">@ViewData["ifred"]</label>
    <label id="rp_11" style="display: none">@ViewData["rp_tab_lst_1_1"]</label>
    <label id="rp_12" style="display: none">@ViewData["rp_tab_lst_1_2"]</label>
    <label id="rp_13" style="display: none">@ViewData["rp_tab_lst_1_3"]</label>
    <label id="rp_21" style="display: none">@ViewData["rp_tab_lst_2_1"]</label>
    <label id="rp_22" style="display: none">@ViewData["rp_tab_lst_2_2"]</label>
    <label id="rp_23" style="display: none">@ViewData["rp_tab_lst_2_3"]</label>
    <label id="rp_31" style="display: none">@ViewData["rp_tab_lst_3_1"]</label>
    <label id="rp_32" style="display: none">@ViewData["rp_tab_lst_3_2"]</label>
    <label id="rp_33" style="display: none">@ViewData["rp_tab_lst_3_3"]</label>
    <div class="btn btn_mbs btn_next" id="next"><a class="a_unstyled" href="javascript:void(0)" onclick="resetMLutility();">@localizer.Text.Redo_Utility</a></div>
</section>
<script>
   // alert('1');
        var rp_11 = $('#rp_11').text();
        var rp_12 = $('#rp_12').text();

        var rp_21 = $('#rp_21').text();
        var rp_22 = $('#rp_22').text();

        var rp_31 = $('#rp_31').text();
        var rp_32 = $('#rp_32').text();
    //alert('2');
        var z = 3;
        var utility_html = "<tr><td>{{model_name}}</td><td>{{ts}}</td><td>{{vs}}</td></tr>";
        var utility01 = "";
        //var count_nm = parseInt(tbcount);
        //for (var x = 0; x < count_nm; x++) {
        //    //外層tab
            //alert(x);
            //alert('3')
            for (var y = 1; y < z; y++) {
                var x=0;
                var tblenm = '#tb1_utility0' + y.toString();
                //alert('33');
                // alert(tblenm);
                //alert(y);
                //alert(rp_11);
                if (x == 0 && y == 1) {
                     //alert('44');
                    utility01 = rp_11;
                } else if (x == 0 && y == 2) {
                  //alert('55');
                    utility01 = rp_12;
                }
                 else if (x == 1 && y == 1) {
                    utility01 = rp_21;
                } else if (x == 1 && y == 2) {
                    utility01 = rp_22;
                } else if (x == 2 && y == 1) {
                    utility01 = rp_31;
                } else if (x == 2 && y == 2) {
                    utility01 = rp_32;
                }
                //alert(utility01.list)
                $(tblenm).append(utility01);
                //alert('333');
            }


            function resetMLutility()
            {
                //alert('1');
                var pid = $('#pid').text();
                //var pid_value = $('#pid').val();
                //alert(pid);
                //alert(pid_value);
                  $.ajax({
                    type: "get",
                  url: "/api/WebAPI/ResetML",
                    contentType: "application/json",
                  data:
                  {
                      project_id: pid
                  },
                    success: function (status) {
                        //document.location.href = "@Url.Action("Index","Home")";
                        if (status) {
                            //alert(dodeid);
                            location.href = "@Url.Action("ProjectIndex", "Home")";
                          //alert('1');
                        }
                        else {
                          alert('重設失敗!');
                        }
                    },
                  error: function (status) {
                      
                        //alert('3');
                          alert('重設失敗!');

                    }

                });
            }
</script>