    @model IEnumerable<ProjectSampleDBData>
@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "Step2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <!-- <li>
                @Html.ActionLink(localizer.Text.project_list, "ProjectIndex", "Home")
            </li>
            <li>
                <a href="@Url.Action("Step2", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"],project_cht=ViewData["Project_cht"] })">@ViewData["Project_cht"]</a>
            </li> -->
        </ul>
    </div>
</section>
<section class="project_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="project_title">
                        <h4>@ViewData["Project_cht"]</h4>
                    </div>
                    <div class="status_bar">
                        <h4 class="method">K匿名隱私強化流程</h4>
                        <div class="status">
                            <div class="status_no_line active">
                                <h6>@localizer.Text.step2</h6>
                                <p>@localizer.Text.step2_menu_list</p>
                                <h3>1</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>@localizer.Text.step3</h6>
                                <p>@localizer.Text.step3_menu_list</p>
                                <h3>2</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>隱私強化處理</h6>
                                <p>@localizer.Text.step4_menu_list</p>
                                <h3>3</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>報表產生與資料匯出</h6>
                                <p>@localizer.Text.step6_menu_list</p>
                                <h3>4</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="project_content">
                        <h4 class="title">@localizer.Text.step2<span class="step_inf">*請分別設定直接識別、間接識別、敏感資料、保留原始資料及刪除資料欄位</span></h4>
                        <label id="project_id" style="display:none">@ViewData["ProjectId"]</label>
                        <label id="project_name" style="display:none">@ViewData["ProjectName"]</label>
                        <label id="project_status" style="display:none">@ViewData["projectstatus"]</label>
                        <label id="return_url" style="display:none">@ViewData["returnurl"]</label>
                        <div class="container">
                            @{
                                int x = 1;
                                foreach (var item in Model)
                                {
                                    var tbname = "";
                                    var tbcount = "";
                                    string tablenum = "table_" + x.ToString();
                                    string lbtable = "lbtable_" + x.ToString();
                                    string lbtbid = "lbtbid_" + x.ToString();
                                    string tb_col = "tbcol_" + x.ToString();
                                    string tb_colcht = "tbcolcht_" + x.ToString();
                                    string tbimport_col = "tbim_" + x.ToString();
                                    string resultmap = "map_" + x.ToString();
                                    string resultmapcol = "mapcol_" + x.ToString();
                                    string result_col = "tbresult_" + x.ToString();
                                    string formaterr = "tbforerror_" + x.ToString();
                                    tbname = item.pro_tb.ToString();
                                    tbcount = item.tableCount.ToString();
                                    var tb_col_cht = item.pro_col_cht;
                                    var col_cht_array = tb_col_cht.Split(',');
                                    var tb_col_en = item.pro_col_en;
                                    var col_en_array = tb_col_en.Split(',');
                                    var tbdata = item.data;
                                    // var datafield = "";

                                    <div class="table_info">
                                        <div class="col-sm-8 data_info">
                                           <p>欄位組成說明：<label id="col_set">原始欄位名稱_資料來源單位代號_資料集名稱</label></p>
                                            <h6>
                                                @localizer.Text.dataset_name：<label id="@lbtable">@tbname</label>
                                                <label id="@lbtbid" style="display: none">@item.ps_id</label>
                                                <label id="@tb_colcht" style="display: none">@item.pro_col_cht</label>
                                            </h6>
                                            <h6>@localizer.Text.total_records：@tbcount</h6>
                                        </div>
                                      
                                        <label id="@tb_col" style="display: none">@tb_col_en</label>
                                        <table id="@tablenum" width="100%">
                                            <thead>
                                                <tr>
                                                    <th data-field="title" align="center">@localizer.Text.ch_col_name</th>
                                                    @{
                                                        for (int i = 0; i < col_cht_array.Length; i++)
                                                        {
                                                            var datafield = col_cht_array[i].ToString();
                                                            <th data-field=@datafield>@col_cht_array[i].ToString()</th>
                                                        }

                                                    }
                                                </tr>
                                                
                                                <tr>
                                                    <th data-field="title" align="center">@localizer.Text.col_attr</th>
                                                    @{
                                                        for (int i = 0; i < col_en_array.Length; i++)
                                                        {
                                                            var datafield = col_cht_array[i].ToString();
                                                            var selectid = tbname + "_" + col_en_array[i].ToString();
                                                            <th data-field=@datafield>
                                                                <select name="YourLocation" id=@selectid>
                                                                <option value="3">@localizer.Text.dir_id</option>    
                                                                <option value="1">@localizer.Text.qi_id</option>
                                                                    <option value="2">@localizer.Text.sensitive_id</option>
                                                                    
                                                                    <option value="4" selected="selected">保留原始資料</option>
                                                                    <option value="0">刪除欄位</option>
                                                                </select>
                                                            </th>
                                                        }

                                                    }
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    string tbdatas = "tbData_" + x.ToString();
                                    <label id="@tbdatas" style="display: none">@item.data</label>
                                    x++;
                                }
                            }
                            <div class="btn btn_sbe btn_back" id="backpet" onclick="returntopage()">回主系統</div>
                            <div class="btn btn_mbs btn_next" id="next">
                                <a class="a_unstyled" href="javascript:void(0)" onclick="SaveProjectTableStep();">@localizer.Text.next</a>
                            </div>
                        </div>
                        <label id="tbDatacount" style="display: none">@Model.Count()</label>
                        <label id="pid" style="display: none">@ViewData["ProjectId"]</label>
                        <label id="pname" style="display: none">@ViewData["ProjectName"]</label>
                        <label id="pname_cht" style="display: none">@ViewData["Project_cht"]</label>
                        <label id="returnurl" style="display: none">@ViewData["returnurl"]</label>
                        <label id="loginname" style="display: none">@ViewData["loginname"]</label>
                        <label id="savecolerror" style="display: none">@localizer.Message.save_col_error</label>
                        @*<div class="btn btn_sbe btn_back" id="back" onclick="javascript: history.back(-1)">@localizer.Text.back</div>*@
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $("#config_choose").show();
    $("#config_success").hide();
    $("#config_error").hide();
    $("#config_warning").hide();
    var tbDatacount = $('#tbDatacount').text();
    for (i = 0; i < parseInt(tbDatacount); i++) {
        var tbData = "#tbData_" + (i + 1).toString();
        var tablenum = "#table_" + (i + 1).toString();
        //         string formaterr = "tbforerror_" + x.ToString();

        var tbDatas = JSON.parse($(tbData).text());
        //alert(tbDatas);
        $(tablenum).bootstrapTable({
            data: tbDatas
        });

        var pid = $('#project_id').text();
        //alert(pid);
        var pname = $('#project_name').text();
        // alert(pname);
        //套用欄位選項
        $.ajax({
            type: "get",
            url: "/api/WebAPI/GetqicolData",
            contentType: "application/json",
            async: false,
            data:
            {
                pname: pname, pid: pid
            },
            success: function (response) {
                // alert(response);
                if (response != "") {
                    var result = response;
                    // var strs = new Array(); //定義一陣列
                    var tbarray = new Array();


                    tbarray = result.split('|');
                    //重組
                    for (x = 0; x < tbarray.length; x++) {
                        if (tbarray[x] != "") {
                            var strs = new Array();
                            var col = new Array();
                            var col_value = new Array();
                            strs = tbarray[x].split('*'); //字元分割
                            var tbname = strs[0];
                            var strcol = strs[1];
                            // var colval = strs[2];
                            col = strcol.split(',');
                            //col_value = colval.split(',');
                            var strcol_value = strs[2];
                            // alert(strcol_value);
                            col_value = strcol_value.split(',');
                            for (var i = 0; i < col.length; i++) {
                                var selectname = "#" + tbname + "_" + col[i] + " option[value=\'" + col_value[i] + "\']";
                                $(selectname).attr('selected', 'selected');
                            }
                        }
                        //    alert('gin');
                    }

                }
            },
            error: function (response) {
                //alert('儲存欄位資料失敗');
            }
        });
    }

     function returntopage() {
         // location.href = "/Home/ProjectIndex";
           var return_url =$('#returnurl').text();
        location.href = return_url;
    }
</script>
<script>
    function SaveProjectTableStep() {
       // alert('2');
        var projectstatus = $('#project_status').text();
        var returnurl = $('#returnurl').text();
        var loginname = $('#loginname').text();
        var savecolerror = $('#savecolerror').text();
              var colen = '';
              var pid = $('#pid').text();
        var pname = $('#pname').text();
              var pname_cht = $('#pname_cht').text();
            var tbDatacount = $('#tbDatacount').text();
        var finalselectvalue = "";
        //alert('4');
        //alert(tbDatacount);
        var ifider=0;
        var isqi =0;
        for (i = 0; i < parseInt(tbDatacount); i++) {

            //alert(i);
                var tbname = "#lbtable_" + (i + 1).toString();
                var lbtb_col = "#tbcol_" + (i + 1).toString();

                //alert(tbname);
                //alert(lbtb_col);
                var lbtbname = $(tbname).text();
                var lbtb_colen = $(lbtb_col).text();
                var strs = new Array(); //定義一陣列
                var selectvaluecol = "";
                strs = lbtb_colen.split(','); //字元分割

                for (x = 0; x < strs.length; x++) {
                    var selectname = "#" + lbtbname + "_" + strs[x] + " option:selected";
                    //alert(selectname);
                    var slectvalue = $(selectname).val();
                    if(slectvalue==3)
                    {
                        ifider = 1;
                    }

                    if(slectvalue==1)
                    {
                        isqi = 1;
                    }

                    //alert(slectvalue);
                    selectvaluecol += (slectvalue) + ',';
                }
                selectvaluecol = selectvaluecol.substr(0, selectvaluecol.length - 1);
                finalselectvalue += lbtbname + "*" + selectvaluecol + "|";
                //alert(finalselectvalue);
        }

        if(ifider==0)
        {
            alert('未選擇直接識別!!');
            return;
        }

        if(isqi==0)
        {
            alert('未選擇間接識別');
            return;
        }

        finalselectvalue = finalselectvalue.substring(0, finalselectvalue.length - 1);
        //alert('final : '+finalselectvalue);
              $.ajax({
                  type: "get",
                  url: "/api/WebAPI/UpdateColumnMsg",
                  contentType: "application/json",
                  async: false,
                  data:
                  {
                      pname: pname, pid: pid, selectvaluecol: finalselectvalue
                  },
                  success: function (response)
                  {
                      if (response)
                          location.href = "@Url.Action("Step3", "ProjectStep")/?proj_id=" + encodeURIComponent(pid) + "&project_name=" + encodeURIComponent(pname) + "&project_cht=" + encodeURIComponent(pname_cht) + "&loginname=" + encodeURIComponent(loginname) + "&returnurl=" + encodeURIComponent(returnurl);
                      else
                          alert(savecolerror);

                  },
                  error: function (response) {
                      alert(savecolerror);
                  }
              });

              return false;
        }
</script>
<script>
    var config_modal = document.getElementById('config');
    var import_config_btn = document.getElementById("import_config");
    var config_close_span = document.getElementById("config_close");

    import_config_btn.onclick = function () {
        config_modal.style.display = "block";
    }

    config_close_span.onclick = function () {
        config_modal.style.display = "none";
        location.reload();
    }
</script>

<script>
    function validate_upload_filename(tbnum) {
        //alert('validate_upload_filename')
        var fullPath = document.getElementById('config_data');
        var csvExp = /^(?:[\w]\:|\\)(\\[A-Za-z_\-\s0-9\.]+)+\.(TXT|TEXT|txt|text|JSON|json)$/;
        if (fullPath.value.match(csvExp)) {
            //alert('json');
            $('#config_choose').removeClass('pred');
            $("#noFile").text(fullPath.value);

            //  $("#config_choose").hide();
            return true;
        } else {
            //alert('非JSON');
            fullPath.focus();
            document.getElementById('config_form').reset();
            $('#config_choose').addClass('pred');
            //  $("#noFile").text('未選擇任何檔案');
            return false;
        }
    }

    function loadFile(f, ps_id, col_id, tbnum) {
        //alert(ps_id);
        var selectfile = document.getElementById("config_data").files[0];
        var freader = new FileReader();
        freader.readAsText(selectfile);
        freader.onload = function () {
            //alert(this.result);
            mappercol(ps_id, col_id, tbnum, this.result);
            //alert('mapper 完成!');
        }
    }

    function mappercol(ps_id, col_id, tbnum, jsonfile) {
        //check json file
        if (jsonfile == "") {
            $("#config_choose").hide();
            $("#config_warning").show();
            return false;
        }
        var jsobj = jQuery.parseJSON(jsonfile);
        //alert(jsobj.pro_tb);
        //alert(tbnum);
        var lbtb = '#lbtable_' + tbnum;
        var chtname = '#tbcolcht_' + tbnum;
        //        string formaterr = "tbforerror_" + x.ToString();
        var forerr = '#tbforerror_' + tbnum;
        var col_cht = $(chtname).text();
        var tbname = $(lbtb).text();
        var pro_tb = jsobj.pro_tb
        //alert('1')
        var isformat = true;
        if (!pro_tb) {
           // alert('1')
            isformat = false;
        }

        var after_col_cht = jsobj.pro_col_cht;
        var qi_col = jsobj.qi_col;
        var after_col_value = jsobj.after_col_value;
        var tablekeycol = jsobj.tablekeycol;
        var gen_qi_settingvalue = jsobj.gen_qi_settingvalue;
        // cub add 
        var k_risk=jsobj.k_risk;
        var max_t=jsobj.max_t;
        var t1=jsobj.t1;
        var t2=jsobj.t2;
        var r_value=jsobj.r_value;
        //alert('2')
        if (!after_col_cht) {
           // alert('2')
            isformat = false;
        }
        if (!qi_col) {
           // alert('3')
            isformat = false;
        }
        if (!after_col_value) {
           // alert('4')
            isformat = false;
        }
        if (!gen_qi_settingvalue) {
           // alert('5')
            isformat = false;
        }
        if (!tablekeycol) {
           // alert('6')
            isformat = false;
        }

           if (!k_risk) {
        //       alert('7')
            isformat = false;
        }
         
           if (!t1) {
       //        alert('8')
            isformat = false;
        }
           if (!t2) {
       //        alert('9')
            isformat = false;
        }

        if (!isformat) {
            //  alert('no');
            $(forerr).html('no');
        }
        //alert('3')
        var newtablekeycol = "";
        var col_arr = new Array(); //定義一陣列
        var config_colarr = new Array();
        var config_valarr = new Array();
        var con_valarr = new Array();
        var qi_col_arr = new Array();
        var qi_set_arr = new Array();
        var qi_setting_val_lv1_arr = new Array();
        var qi_setting_val_lv2_arr = new Array();
        var new_qi_col = "";
        //alert('3.5')
        //alert('1 :' +col_cht);
        col_arr = col_cht.split(','); //字元分割
        config_colarr = after_col_cht.split(','); //字元分割
        con_valarr = after_col_value.split(','); //字元分割
        //alert('3.6')
        qi_col_arr = qi_col.split(',');
        //alert('2 :'+tbname);
        //alert('3 :'+gen_qi_settingvalue);
        qi_set_arr = gen_qi_settingvalue.split('*');
       // alert('3.7')
        //alert(gen_qi_settingvalue)
        if(qi_set_arr.length>2)
        {
        qi_setting_val_lv1_arr = qi_set_arr[1].split(',');
        qi_setting_val_lv2_arr = qi_set_arr[2].split(',');
        }
        else
        {
            qi_setting_val_lv1_arr = qi_set_arr[0].split(',');
            qi_setting_val_lv2_arr = qi_set_arr[1].split(',');
        }
        var after_col_val = "";
        //alert(config_colarr.length);
        //alert(con_valarr.length);
        //alert('4')
        if (config_colarr.length != con_valarr.length) {
            for (g = 0; g < con_valarr.length; g++) {
                //alert(con_valarr[g]);
                if (con_valarr[g] != 0) {
                    // alert('!=0 '+con_valarr[g]);
                    after_col_val += con_valarr[g] + ",";

                }
            }

            // alert(after_col_val);
            after_col_val = after_col_val.substring(0, after_col_val.length - 1);
        }
        else {
            after_col_val = after_col_value;
        }
        //alert(after_col_val);
        //alert('5')
        config_valarr = after_col_val.split(',');

        var new_gen_setting_lv1_value = "";
        var new_gen_setting_lv2_value = "";
        var final_gen_setting_value = "";
        var map_col = "";
        var unmap_col = "";
        var map_colvalue = "";
        var check_col = "";
        var check_colval = "";
        var update_col = "";
        var update_colval = "";
        var nomap = "";
        var qi_cols = "";
        var ismap = false;
        //alert('col_cht  :' + col_cht);
        //alert('col_arr length :' + col_arr.length);
        var canupdatecount = 0;
        //alert('6')
        for (i = 0; i < col_arr.length; i++) {
            check_col = "";
            check_colval = "";
            //new_qi_col
            for (x = 0; x < config_colarr.length; x++) {
                if (col_arr[i] == config_colarr[x]) {
                    check_col = col_arr[i];
                    check_colval = config_valarr[x];
                    for (z = 0; z < qi_col_arr.length; z++) {
                        //避免這次欄位與上次順序不對，重新排序
                        var qi_colnm_arr = new Array();
                        qi_colnm_arr = qi_col_arr[z].split('-');
                        if (col_arr[i] == qi_colnm_arr[0]) {
                            new_qi_col += qi_col_arr[z] + ",";
                            new_gen_setting_lv1_value += qi_setting_val_lv1_arr[z] + ",";
                            new_gen_setting_lv2_value += qi_setting_val_lv2_arr[z] + ",";
                        }
                    }
                    //確認 QI
                    //alert('有mapping!')
                    ismap = true;
                    canupdatecount++;
                    continue;
                }

            }

            //alert('7')
            // alert('check_col ' + check_col);
            if (check_col == "") {
                //alert('ttt');
                nomap += "「" + col_arr[i] + "」" + ",";
                unmap_col += col_arr[i] + ",";
                update_col += col_arr[i] + ",";
                update_colval += "4,";
            }
            else {
                // alert('has data');
                update_col += check_col + ",";
                update_colval += check_colval + ",";
                if (check_colval == "1" || check_col == "2") {
                    qi_col += check_col + "-" + check_colval;
                }
                else if (check_colval == "3") {
                    newtablekeycol += check_col + ",";
                }

            }
        }
        //alert('8')
        //alert(new_gen_setting_lv1_value);
        //alert(new_gen_setting_lv2_value);
        if (new_qi_col != "") {
            new_qi_col = new_qi_col.substring(0, new_qi_col.length - 1);
            new_gen_setting_lv1_value = new_gen_setting_lv1_value.substring(0, new_gen_setting_lv1_value.length - 1);
            new_gen_setting_lv2_value = new_gen_setting_lv2_value.substring(0, new_gen_setting_lv2_value.length - 1);
            final_gen_setting_value = tbname + '*' + new_gen_setting_lv1_value + '*' + new_gen_setting_lv2_value;
        }
        else {
            new_qi_col = qi_col;
            final_gen_setting_value = gen_qi_settingvalue;
        }
        //alert("un :"+unmap_col);
        unmap_col = unmap_col.substring(0, unmap_col.length - 1);
        var resultmap = "#map_" + tbnum;
        var resultmapcol = "#mapcol_" + tbnum;
        //alert('nomap :' + nomap );
        //alert('9')
        if (unmap_col != "") {
            //unmap_col = unmap_col.substring(0, unmap_col.length - 1);
            //alert(canupdatecount)
            if (canupdatecount == 0) {
                //alert('0');

                $(resultmap).html(canupdatecount.toString());
                unmap_col = "no";
            }
            else {
                //  alert('11111');
                //alert('canupdatecount :' + canupdatecount);
                var nomapcount = '';
                nomap = nomap.substring(0, nomap.length - 1);
                var nomaparr = new Array();
                nomaparr = nomap.split(',');
                $(resultmap).html(nomaparr.length);

                $(resultmapcol).html(nomap);
            }

        }
        else {
            //   alert('2222 '+nomap);
            if (nomap != "") {
                unmap_col = unmap_col.substring(0, unmap_col.length - 1);
                var unmap_arr = new Array();
                unmap_arr = unmap_col.split(',');
                $(resultmap).html(unmap_arr.length);
                $(resultmapcol).html(unmap_col);
            }
            else {
                $(resultmapcol).html(nomap);
            }
        }
        //alert('10')
        update_col = update_col.substring(0, update_col.length - 1);
        update_colval = update_colval.substring(0, update_colval.length - 1);
        //<label id="tbresult_1" style="display: none">*8||4|||udfMacUID_adult_id*4,0,0,4*?,0,0,?</label>
        //都沒有mapping 狀態未做
        //  alert('done');
        var finalstr = unmap_col + "^" + ps_id + "|" + update_col + "|" + update_colval + "|" + new_qi_col + "|" + newtablekeycol + "|" + final_gen_setting_value+"|"+k_risk+"|"+max_t+"|"+t1+"|"+t2+"|"+r_value;
        var lbresult = "#tbresult_" + tbnum;
        //alert('dataImport')
        $(lbresult).html(finalstr);


        //alert('finish')
    }

    function updateconfig(tbnum) {
        //#tbresult_
        //alert('22222');
        var nofile = $("#noFile").text();
        if (nofile == "")
            return false;

        //alert(nofile);
      //  alert('4')
        var tbcol = "#tbcolcht_" + tbnum;
        var conlist = "#tbresult_" + tbnum;
        var resultmap = "#map_" + tbnum;
        var resultmapcol = "#mapcol_" + tbnum;
        var formaterr = "#tbforerror_" + tbnum;
        var forval = $(formaterr).text();
        //alert(forval);
        ///alert(conlist);
        var configstring = $(conlist).text();

        var mapcount = $(resultmap).text();
        var nomapcol = $(resultmapcol).text();

        var tbcollst = $(tbcol).text();
     //   alert('5')
      //  alert(forval)
        if (forval == "no") {
           // alert('6')
            $("#config_choose").hide();
            $("#config_success").hide();
            $("#config_error").show();
            $("#config_warning").hide();
        }
        else {
           // alert('7')
            //alert(mapcount);
            if (mapcount == '0') {
                //沒有一個欄位匹配所以也不用更新
                //alert('1111 no doata');
                var tbcolarr = new Array();
                tbcolarr = tbcollst.split(',');
                // alert(tbcolarr.length);
                //alert('nomapp ' + tbcolarr.length.toString());
                var newtbcol = "";
                for (var x = 0; x < tbcolarr.length; x++) {
                    newtbcol += "「" + tbcolarr[x] + "」" + "、";
                }
              //  alert('8')
                newtbcol = newtbcol.substring(0, newtbcol.length - 1);
                $(resultmap).html(tbcolarr.length.toString());
                $(resultmapcol).html(newtbcol);
                $("#config_choose").hide();
                $("#config_warning").show();
                //$(resultmap).html(tbcolarr.length);
            }
            else {
                var pid = $('#project_id').text();

             //   alert('9')
                $.ajax({
                    type: "get",
                    url: "/api/WebAPI/UpdateColSetting",
                    contentType: "application/json",
                    async: false,
                    data:
                    {
                        pid: pid, configstring: configstring
                    },
                    success: function (response) {
                        if (response == "1") {
                            //success
                            //location.reload();
                            if (nomapcol == "") {
                                $("#config_choose").hide();
                                $("#config_success").show();
                            }
                            else {
                                //   alert('11');
                                $(resultmapcol).html(nomapcol);

                                $("#config_choose").hide();
                                $("#config_warning").show();
                            }
                        }
                        //else if (response == "-1") {

                        //}
                        //else if (response == "-2") {
                        //    //no pid
                        //}
                        //else if (response == "-10") {
                        //    // string error
                        //}
                        else {
                            //another error
                            var tbDatacount = $('#savecolerror').text();
                            //alert(tbDatacount);
                            $("#config_choose").hide();
                            $("#config_success").hide();
                            $("#config_error").show();
                            $("#config_warning").hide();
                        }
                    },
                    error: function (response) {
                        // alert('1111儲存欄位資料失敗');
                        var tbDatacount = $('#savecolerror').text();
                        //alert(tbDatacount);
                        $("#config_choose").hide();
                        $("#config_success").hide();
                        $("#config_error").show();
                        $("#config_warning").hide();
                    }
                });
            }
        }
    }

    function reloadconfig() {
        //alert('1111');
        location.reload();
    }
</script>