@model IEnumerable<ProjectSampleDBData>
@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "Step6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <li>

                @Html.ActionLink(localizer.Text.project_list, "ProjectIndex", "Home")
            </li>
            <li>
                <a href="@Url.Action("Step6", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"], project_cht = ViewData["Project_Cht"] })">@ViewData["Project_Cht"]</a>
            </li>
        </ul>
    </div>
</section>
<section class="project_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="project_title">
                        <h4>@ViewData["Project_Cht"]</h4>
                    </div>
                    <div class="status_bar">
                        <h4 class="method">去識別化流程</h4>
                        <div class="status">
                            <div class="status_no_line">
                                <h6>@localizer.Text.step1</h6>
                                <p>@localizer.Text.step1_menu_list</p>
                                <h3>1</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>@localizer.Text.step2</h6>
                                <p>@localizer.Text.step2_menu_list</p>
                                <h3>2</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>@localizer.Text.step3</h6>
                                <p>@localizer.Text.step3_menu_list</p>
                                <h3>3</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>@localizer.Text.step4</h6>
                                <p>@localizer.Text.step4_menu_list</p>
                                <h3>4</h3>
                            </div>
                        </div>
                        @* <div class="status">
                            <div class="status_notnow">
                                <h6>@localizer.Text.step5</h6>
                                <p>@localizer.Text.step5_menu_list</p>
                                <h3>5</h3>
                            </div>
                        </div> *@
                        <div class="status">
                            <div class="status_notnow active">
                                <h6>@localizer.Text.step6</h6>
                                <p>@localizer.Text.step6_menu_list</p>
                                <h3>5</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">


                    <div id="reportboard">
                        <!-- TAB CONTROLLERS-->
                        <input class="panel-radios" id="panel-1-ctrl" type="radio" name="tab-radios" checked="checked">
                        <input class="panel-radios" id="panel-2-ctrl" type="radio" name="tab-radios">
                        <input class="panel-radios" id="nav-ctrl" type="checkbox" name="nav-checkbox">
                        <ul id="tabs-list">
                            <!-- MENU TOGGLE-->
                            <label id="open-nav-label" for="nav-ctrl"></label>
                            <li id="li-for-panel-1">
                                <label class="panel-label" for="panel-1-ctrl">@localizer.Text.report_info1</label>
                            </li>
                            <li id="li-for-panel-2">
                                <label class="panel-label" for="panel-2-ctrl">@localizer.Text.report_info2</label>
                            </li>
                            <label id="close-nav-label" for="nav-ctrl">×</label>
                        </ul>
                        <!-- THE PANELS-->
                        <article id="panels">
                            <div class="container">
                                <section id="panel-1">
                                    <main>
                                        <div class="tab-pane step05 col-sm-12">
                                            <h4 class="title">@localizer.Text.step6</h4>
                                            <table class="table table-hover table-bordered" id="final_report">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>@localizer.Text.dataset_name</th>
                                                        <th>@localizer.Text.raw_data_count</th>
                                                        <th>@localizer.Text.data_suprate (%)</th>
                                                        <th>@localizer.Text.min_kvalue</th>
                                                        <th>@localizer.Text.un_keycount</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane step05 col-sm-12">
                                            <h4 class="title">@localizer.Text.gen_setting</h4>
                                            @{
                                                int rpcount = 0;
                                                var rpcount_str = ViewData["RP_Count"];
                                                if( rpcount_str != null)
                                                {
                                                    rpcount = int.Parse(rpcount_str.ToString());

                                                    int x = 1;
                                                    foreach (var item in Model)
                                                    {
                                                        string tb = "tb_" + x.ToString();
                                                    <h6>@localizer.Text.tb：@item.pro_tb</h6>
                                                    <table class="table table-hover table-bordered" id="@tb">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th>@localizer.Text.ch_col_name</th>
                                                                <th>@localizer.Text.en_col_name</th>
                                                                <th>@localizer.Text.data_attr</th>
                                                                <th>@localizer.Text.process_flow</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                        x++;
                                                    }
                                                }

                                               
                                                }
                                        </div>
                                        <label id="tbcount" style="display:none">@Model.Count()</label>
                                        <label id="projectlist" style="display:none">@ViewData["projectlist"]</label>
                                        <label id="projectqitable" style="display:none">@ViewData["projectqitable"]</label>
                                        <label id="warningtablelist" style="display:none">@ViewData["warningtablelist"]</label>
                                        <div class="btn btn_mbs btn_next" id="next" name="form">
                                            <a class="a_unstyled" href="@Url.Action("Step7", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"],project_cht=ViewData["Project_Cht"] })">@localizer.Text.next</a>
                                            @*@Html.ActionLink("deid_testtoday", "webdeidtesting_report", "ProjectStep")*@
                                            @*@Html.ActionLink("確定", null, null, null, new { @class = "a_unstyled",@onclick="importr1r2Data();" })*@
                                        </div>
                                    </main>
                                </section>
                                <section id="panel-2">
                                    <main>
                                        <div class="tab-pane step05 col-sm-12">
                                            <h4 class="title">可用性分析</h4>
                                            <h6>@localizer.Text.dataset_name：@ViewData["pro_tb"]</h6>
                                            <div class="r_table">
                                                <div class="tabs">
                                                    @{

                                                        var tabcollist = ViewData["project_col_list"].ToString();
                                                        if (tabcollist != "")
                                                        {
                                                            var tab_arr = tabcollist.ToString().Split(',');
                                                            for (int i = 0; i < rpcount; i++)
                                                            {
                                                                var tabname = tab_arr[i].ToString();
                                                                if (i == 0)
                                                                {
                                                                    <div class="tab active"><div class="tab-box"></div><div class="title">@tabname</div></div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="tab"><div class="tab-box"></div><div class="title">@tabname</div></div>
                                                                }
                                                            }
                                                        }
                                                    }

                                                    @*<div class="tab"><div class="tab-box"></div><div class="title">感興趣欄位三</div></div>*@
                                                </div>
											    <div class="contents">
                                                @{
                                                    for (int z = 0; z < rpcount; z++)
                                                    {
                                                        var classnm = "content";
                                                        if (z == 0)
                                                        {
                                                            classnm = "content active";
                                                        }
                                                        <div class="@classnm">
                                                            @{ for (int xz = 1; xz < 3; xz++)
                                                                {
                                                                    var tablenm = "tb" + (z + 1).ToString() + "_utility0" + xz.ToString();
                                                                    var tb_desc = "";

                                                                    if (xz == 1)
                                                                    {
                                                                        tb_desc = "raw / raw 由原始資料建模，原始資料做驗證";
                                                                    }
                                                                    else if (xz == 2)
                                                                    {
                                                                        tb_desc = "deId / deId 由去識別化資料建模，去識別化資料做驗證";
                                                                    }

                                                                    <div class="table_wapper">
                                                                        <table class="table table-bordered table_info table_utility" id="@tablenm">
                                                                            <thead class="thead-dark">
                                                                                <h5 class="u_h5">@tb_desc</h5>
                                                                                <tr>
                                                                                    <th>模型</th>
                                                                                    <th>訓練資料分數</th>
                                                                                    <th>驗證資料分數</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody></tbody>
                                                                        </table>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="tab-pane step05 col-sm-12">
                                            <h4 class="title">風險評估</h4>
                                            <h6>@localizer.Text.dataset_name：@ViewData["pro_tb"]</h6>
                                            <table class="table table-hover table-bordered" id="risk">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>風險評估模組</th>
                                                        <th>風險值</th>
                                                        <th>隱私洩露風險</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane step05 col-sm-12">
                                            <h4 class="title">@localizer.Text.warning_info</h4>
                                            @{
                                                int y = 1;
                                                foreach (var item in Model)
                                                {
                                                    string tb = "warn_" + y.ToString();
                                                    <h6>@localizer.Text.dataset_name：@item.pro_tb</h6>
                                                    <table class="table table-hover table-bordered" id="@tb">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th>@localizer.Text.col_name</th>
                                                                <th>@localizer.Text.data_count</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                }
                                                y++;
                                            }
                                        </div>
                                        <a class="btn btn_mbs btn_next" href="@Url.Action("Step7", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"],project_cht=ViewData["Project_Cht"] })">@localizer.Text.next</a>
                                            </div>
                                        @*<div class="btn btn_mbs btn_next" id="export_report02" href="@Url.Action("Step5", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"] })">@localizer.Text.export</div>*@
                                    </main>
                                </section>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label id="rp_count" style="display: none">@ViewData["RP_Count"]</label>
    <label id="rp_11" style="display: none">@ViewData["rp_tab_lst_1_1"]</label>
    <label id="rp_12" style="display: none">@ViewData["rp_tab_lst_1_2"]</label>
    <label id="rp_13" style="display: none">@ViewData["rp_tab_lst_1_3"]</label>
    <label id="rp_21" style="display: none">@ViewData["rp_tab_lst_2_1"]</label>
    <label id="rp_22" style="display: none">@ViewData["rp_tab_lst_2_2"]</label>
    <label id="rp_23" style="display: none">@ViewData["rp_tab_lst_2_3"]</label>
    <label id="rp_31" style="display: none">@ViewData["rp_tab_lst_3_1"]</label>
    <label id="rp_32" style="display: none">@ViewData["rp_tab_lst_3_2"]</label>
    <label id="rp_33" style="display: none">@ViewData["rp_tab_lst_3_3"]</label>
    <label id="riskcount" style="display: none">@ViewData["riskcount"]</label>
    <label id="risklist" style="display: none">@ViewData["risklist"]</label>
</section>
<script>
    var current_value = $('#projectlist').text();
    $("#final_report").append(current_value);
</script>
<script>
    var tbcount = $('#tbcount').text();
    var projectqitable = $('#projectqitable').text();
    var warningtablelist = $('#warningtablelist').text();
    var tbarray = new Array();
    var warnarray = new Array();
    tbarray = projectqitable.split(',');
    warnarray = warningtablelist.split(',');
    for (var i = 0; i < parseInt(tbcount); i++) {
        var tbname = '#tb_' + (i + 1).toString();
        var warnname = '#warn_' + (i + 1).toString();
        $(tbname).append(tbarray[i]);
        $(warnname).append(warnarray[i]);
    }

    //alert('333');
    var tbcount = $('#rp_count').text();
    var rp_11 = $('#rp_11').text();
    var rp_12 = $('#rp_12').text();
    
    var rp_21 = $('#rp_21').text();
    var rp_22 = $('#rp_22').text();
    
    var rp_31 = $('#rp_31').text();
    var rp_32 = $('#rp_32').text();
    
    var z = 3;
   // alert('333');
    var utility_html = "<tr><td>{{model_name}}</td><td>{{ts}}</td><td>{{vs}}</td></tr>";
    var utility01 = "";
    var count_nm = parseInt(tbcount);
    for (var x = 0; x < count_nm; x++) {
        //外層tab
        //alert(x);
        for (var y = 1; y < z; y++) {
            var tblenm = '#tb' + (x + 1).toString() + '_utility0' + y.toString();
            //alert('33');
            // alert(tblenm);
            //alert(y);
            //alert(rp_11);
            if (x == 0 && y == 1) {
                //     alert('44');
                utility01 = rp_11;
            } else if (x == 0 && y == 2) {
                //  alert('55');
                utility01 = rp_12;
            }
             else if (x == 1 && y == 1) {
                utility01 = rp_21;
            } else if (x == 1 && y == 2) {
                utility01 = rp_22;
            } else if (x == 2 && y == 1) {
                utility01 = rp_31;
            } else if (x == 2 && y == 2) {
                utility01 = rp_32;
            }
            //alert(utility01.list)
            $(tblenm).append(utility01);
            //alert('333');
        }

    }
</script>
<script>
	//var risk = {};
	//risk.list = [
	//	{risk_m: "隨機目標再識別風險（QI-based）", value: "0.11%"},
	//	{risk_m: "單維敏感項目再識別風險（QI-based）", value: "0.11%"},
	//	{risk_m: "多維敏感項目再識別風險（QI-based）", value: "0.11%"},
	//	{risk_m: "多維敏感序列再識別風險", value: "0.00%"},
	//	{risk_m: "單維敏感序列再識別風險", value: "0.00%"},
	//];
	//var risk_html = "<tr><td class='half_col'>{{risk_m}}</td><td>{{value}}</td><td><div class='bar'><div class='percentage p1'></div></td></tr>";
    var riskcount = $('#riskcount').text();
    var risklist = $('#risklist').text();
    var risk_arr = new Array();
    risk_arr = risklist.split('|');

    for (var i = 0; i < risk_arr.length; i++) {
        if (risk_arr[i].toString() != "") {
            $("#risk").append(risk_arr[i]);
        }
	}
</script>
@*<script>
	var warning = {};
	warning.list = [
		{name: "col-sm-12", count: "2,231"},
		{name: "col-sm-6", count: "83,314,551"},
		{name: "col-nickname", count: "121,209,211"},
		{name: "address", count: "29,936"},
		{name: "br_ick", count: "12,123"},
		{name: "pan_qwert", count: "6,662"},
		{name: "hc0215", count: "98,413,889"},
		{name: "pass_w_cd", count: "704,183"},
		{name: "col-md-1", count: "23,023"},
		{name: "col-hc-06", count: "931,232"},
		{name: "py_ca_bri", count: "560,136"},
		{name: "py_ca_diu", count: "27,880"},
	];
	var warning_html = "<tr><td class='half_col'>{{name}}</td><td class='half_col text_right'>{{count}}<img src='/images/warning.png'></td></tr>";

	for (var i = 0; i < warning.list.length; i++) {
		var item_ra = warning.list[i];
		var current_warning_html =
			warning_html.replace("{{name}}", item_ra.name)
				.replace("{{count}}", item_ra.count)
		;
		$("#warning").append(current_warning_html);
	}
</script>*@
<script>
	$('.tabs').click(function(event){
		let $tab = $(event.target).parent();
		$(this).find('.active').removeClass("active");
		$tab.addClass('active');
		let index = $tab.index();
		$(".contents .content").siblings('.active').removeClass('active').end().eq(index).addClass("active");
    })
</script>
