@using System.Globalization
@using Resources
@using Microsoft.AspNetCore.Mvc;
@using System.Security.Claims;
@inject ILocalizer localizer
@removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.FormTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<!--import bootstrap/wtf.html-->
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" http-equiv="Content-Security-Policy" content="default-src 'self' ;style-src 'self' 'unsafe-inline'; img-src 'self' 'unsafe-inline'; frame-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; font-src 'self'  'unsafe-inline' 'unsafe-eval' data:; connect-src 'self' ws:">
    @*<meta charset="UTF-8" http-equiv="Content-Security-Policy" content="{Policy}">*@
    <title>@localizer.Text.title</title>
    <link rel="stylesheet prefetch" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/css/iconfont.css">
    <script src="~/js/jquery-3.6.3.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/bootstrap-table.min.js"></script>

    @*<script src="~/js/modernizr.min.js"></script>
        <script src="~/js/all.js"></script>*@
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top at_top">
        <div class="container">
            <div class="navbar-header navbar-brand">
                <img src="~/images/logo_b.png" alt="">
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a href="@Url.Action("About", "Home")">@localizer.Text.about</a></li>
                    @*   <li>
                        @*<a href="project_list.html">專案</a>*@
                    @*   @Html.ActionLink(localizer.Text.project_text, "ProjectIndex", "Home")
                        </li>
                    *@

                    <li><a href="@Url.Action("About", "Home")">@localizer.Text.about</a></li>
                  @*
                    @{
                        var isAdmim = "";
                        var useracc = "";
                        var isadmin = "";
                        var lslogin = "";
                        int a = 1;
                        foreach (Claim claim in Context.User.Claims)
                        {
                            if (a == 1)
                            {
                                var x = claim.Subject.Claims.Count();

                                // useracc = claim.Subject.Claims[0].Value;
                                if (claim.Value != "")
                                {
                                    useracc = claim.Value;
                                    lslogin = claim.Value;
                                }
                            }
                            else if (a == 2)
                            {
                                isadmin = claim.Value;
                            }

                            a++;
                            //break;
                        }

                        if (lslogin == "")
                        {
                            lslogin = "display:none";
                        }

                        if(isadmin=="")
                        {
                            isadmin = "0";
                        }
                    }*@
                    @{
                        var useracc = "";
                        useracc = ViewBag.LoginName;
                    }

                 @*   <li class="nav-item-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">@localizer.Text.project_man</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-item">@Html.ActionLink("專案進度查詢", "ProjectLog", "Home")</li>
                            <li class="dropdown-menu-item">@Html.ActionLink("刪除指定日期專案", "DeleteProj", "Home")</li>
                            @*<li class="dropdown-menu-item"><a href="#">@localizer.Text.project_man</a></li>*@
                       @* </ul>
                    </li>*@

                  @*  <li class="nav-item-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">@localizer.Text.management</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-item"><a href="javascript:void()" onclick="redirectMemberUrl('@isadmin','Member')">@localizer.Text.account_man</a></li>
                            <li class="dropdown-menu-item"><a href="javascript:void()" onclick="redirectMemberUrl('@isadmin','Dept')">@localizer.Text.dept_title</a></li>
                            @*<li class="dropdown-menu-item"><a href="#">@localizer.Text.project_man</a></li>*@
                        </ul>
                    </li> -->
                    
                    <!-- <li class="language">
                        <img class="menu_icon" src="~/images/menu_language.png" alt="">
                    </li>
                    <li class="notification notification_section noti_dropdown" onclick="isReadStatus()">
                        <img class="menu_icon" src="~/images/menu_notification.png" onclick="isReadStatus()" alt="">
                        <span class="num" id="notcount" style="display:none"></span>
                        <ul class="notification_dropdown" id="notdrop" onclick="isReadStatus()"></ul>
                    </li> -->
                    <li class="nav-item-dropdown">
                     @*   <img class="menu_icon" src="~/images/menu_account.png" alt="">*@
                        <h6 class="account" id="useracc">@useracc</h6>
                       @* <ul class="dropdown-menu" style="@lslogin">
                            <li class="dropdown-menu-item"><a href="@Url.Action("MemberProfile","Member")">@localizer.Text.profile</a></li>
                            <li class="dropdown-menu-item"><a href="@Url.Action("Logout","Home")">@localizer.Text.logout</a></li>
                        </ul>*@
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script>
        var modal = document.getElementById('myModal');
    </script>
    @RenderBody()
    <script>
        var project_modal = document.getElementById('project');
        var new_project_btn = document.getElementById("new_project");
        var project_close_span = document.getElementById("project_close");

        //new_project_btn.onclick = function () {
        //    project_modal.style.display = "block";
        //}

        //project_close_span.onclick = function () {
        //    project_modal.style.display = "none";
        //}
    </script>
    <script>
        $(function () {
            $('.noti_dropdown').on('click', function (event) {
                if ($(this).hasClass('is_active') === false)
                    $('.noti_dropdown').removeClass('is_active');
                $(this).toggleClass('is_active');
                event.stopPropagation();
            });

            $(document).click(function () {
                $('.noti_dropdown').removeClass('is_active');
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            GetNotificationData();
            //CheckJobStatus();
            setInterval("GetNotificationData()", 10000);
        });

        function isReadStatus() {
            var counts = $("#notcount").text();

            $.ajax({
                type: "get",
                url: "/api/WebAPI/UpdateStatsRead",
                contentType: "application/json",
                async: false,
                success: function (response) {
                    //成功
                    if (response == true) {
                        $("#notcount").text('')
                        $("#notcount").css('display', 'none');
                    }
                },
                error: function (response) {
                    //alert(savecolerror);
                }
            });
        }


          function redirectMemberUrl(isadmin, step) {
            if (isadmin == '0') {
                alert('非系統管理員無法操作此功能!');
                return;
            }
            else {
                if (step == "Member") {
                    location.href = "@Url.Action("MemberList", "Member")";
                }
                else {
                    location.href = "@Url.Action("DeptList", "Dept")";

                }
            }
        }

        function GetNotificationData() {
            var notcount = "";
            var natdata = $("#notcount").text();
            //alert("nat :"+natdata);
            if (natdata != "")
            {
                //alert('nodata');
               isReadStatus();
            }
            $.ajax({
                type: "get",
                //    url: "/api/WebAPI/CheckSparkJobStatus",
                url: "/api/WebAPI/GetStatusAppNotificationData",
                contentType: "application/json",
                async: false,
                success: function (response) {
                    //alert(response);
                    notcount = response;
                    //setInterval("isReadStatus()", 9000);
                },
                error: function (response) {

                }

            });
            if (notcount != "") {
                if (notcount != "0") {

                    var notarr = notcount.split('*');
                    //alert(colqiarr.length);
                    if (notarr[0] == 0) {

                    }
                    else {
                        $("#notcount").removeAttr("style");
                        $("#notcount").text(notarr[0]);
                        // location.reload();
                    }

                    //alert(notarr[1])
                    $("#notdrop").html(notarr[1]);
                }

            }
            else {
                //   alert('111');
                //$("#notcount").text(String(notcount));
            }
        }
    </script>
    <script>
        function changlan(c) {
            // alert(c);
            $.ajax({
                type: "get",

                url: "/api/WebAPI/ChangeLang",
                contentType: "application/json",
                async: false,
                data: {
                    lan: c
                },
                success: function (response) {
                    location.reload();
                },
                error: function (response) {

                }

            });
        }
    </script>
    <section class="section_footer">
        <div class="container">
         @*   <p>@localizer.Text.web_contentlist</p>*@
        </div>
    </section>
</body>
</html>