@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "Dataassociation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <li><a href="@Url.Action("ProjectIndex","Home")">@localizer.Text.project_list</a></li>
            <li><a href="@Url.Action("Preview", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"],project_cht=ViewData["Project_cht"] })">@ViewData["Project_cht"]</a></li>
        </ul>
    </div>
</section>
<section class="project_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="project_title">
                        <h4>@ViewData["Project_Cht"]</h4>
                    </div>
                   <div class="status_bar">
                        <h4 class="method">差分隱私流程</h4>
                        <div class="status">
                            <div class="status_no_line">
                                <h6>欄位選擇及屬性判定</h6>
                                <p>Data property settings</p>
                                <h3>1</h3>
                            </div>
                        </div>
                        
                        <div class="status">
                            <div class="status_notnow active">
                                <h6>關聯屬性欄位設定</h6>
                                <p>Related attribute field settings</p>
                                <h3>2</h3>
                            </div>
                        </div>
                        
                        <div class="status">
                            <div class="status_notnow">
                                <h6>隱私強化處理</h6>
                                <p>DP setting</p>
                                <h3>3</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>報表產生與資料匯出</h6>
                                <p>Report and data export</p>
                                <h3>4</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="project_content">
                        <h4 class="title">關聯屬性欄位設定<span class="step_inf">* 系統已選擇下方關聯欄位用以處理差分隱私機率模型，若要修改請勾選自訂欄位</span></h4>
                        <div id="showdata" class="container">
                            <label class="control-label">系統關聯欄位 :</label>
                            <div class="table_info">
                                @{
                                    var strcol = @ViewData["selectcol"].ToString();
                                    if (strcol != "")
                                    {
                                        var col_arr = strcol.Split(',');
                                        for(int i=0;i<col_arr.Length;i++)
                                        {
                                            var data = col_arr[i].ToString();
                                            <label>@data</label><br/>
                                        }
                                    }
                                }
                            </div>
                            <label class="control-label">自訂關聯欄位 :</label>
                            <div class="table_info">
                                @{
                                    var filelst = @ViewData["selectcol"].ToString();
                                    if (filelst != "")
                                    {
                                        var filearr = filelst.Split(',',StringSplitOptions.RemoveEmptyEntries);
                                        if (filearr.Length > 0)
                                        {
                                            for (int i = 0; i < filearr.Length; i++)
                                            {
                                                var cbID = "cb_" + i.ToString();
                                                <label class="data_label">
                                                    <input type="checkbox" name="@cbID" id="@cbID" />
                                                    <span class="dir_span">@filearr[i]</span>
                                                </label><br/>
                                            }
                                        }
                                    }
                                }
                            </div>
                            <div class="btn btn_sbe btn_back" id="backpet" onclick="returnpetpage()">回主系統</div>
                            <div class="btn btn_sbe btn_back" id="back" onclick="getbacklastpage()">@localizer.Text.back</div>
                            <div class="btn btn_mbs btn_next" id="importbtn" style="">
                                <a href="javascript:void(0);" onclick="data_sync()">@localizer.Text.next</a>
                            </div>
                        </div>
                        <label id="profilenames" style="display:none">@ViewData["file"]</label>
                        <label id="pid" style="display:none">@ViewData["ProjectId"]</label>
                        <label id="pname" style="display:none">@ViewData["ProjectName"]</label>
                        <label id="pname_cht" style="display:none">@ViewData["Project_cht"]</label>
                        <label id="pstep" style="display:none">@ViewData["ProjectStep"]</label>
                        <label id="importno" style="display:none">@localizer.Message.import_not_finish</label>
                        <label id="dimport" style="display:none">@localizer.Message.import</label>
                        <label id="selectcol" style="display:none">@ViewData["selectcol"]</label>
                        <label id="returnurl" style="display: none">@ViewData["returnurl"]</label>
                        <label id="loginname" style="display: none">@ViewData["loginname"]</label>
                  
                        @*<div class="btn btn_mbs btn_next" id="next"><a class="a_unstyled" href=" @Url.Action("Step2", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"] })">下一步</a></div>
                        <div class="btn btn_mbs btn_next" id="stopnext" style="display:none"><a class="a_unstyled" href="javascript:void(0);" onclick="stopStep()">下一步</a></div>*@
                    </div>
                    <div id="loading_ui" class="scene">
                        <svg id="dc-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width:"38="" height:"38="" viewBox="0 0 38 38" preserveAspectRatio="xMinYMin meet">
                            <text x="14" y="21" font-size="2.5px" style="letter-spacing:0.2;" fill="grey">
                                資料關聯中
                                <animate attributeName="opacity" values="0;1;0" dur="1.8s" repeatCount="indefinite"></animate>
                            </text>
                            <path fill="#cccccc" d="M20,35c-8.271,0-15-6.729-15-15S11.729,5,20,5s15,6.729,15,15S28.271,35,20,35z M20,5.203    C11.841,5.203,5.203,11.841,5.203,20c0,8.159,6.638,14.797,14.797,14.797S34.797,28.159,34.797,20    C34.797,11.841,28.159,5.203,20,5.203z"></path>
                            <path fill="#cccccc" d="M20,33.125c-7.237,0-13.125-5.888-13.125-13.125S12.763,6.875,20,6.875S33.125,12.763,33.125,20    S27.237,33.125,20,33.125z M20,7.078C12.875,7.078,7.078,12.875,7.078,20c0,7.125,5.797,12.922,12.922,12.922    S32.922,27.125,32.922,20C32.922,12.875,27.125,7.078,20,7.078z"></path>
                            <path fill="#2AA198" stroke="#1890ff" stroke-width="0.6027" stroke-miterlimit="10" d="M5.203,20    c0-8.159,6.638-14.797,14.797-14.797V5C11.729,5,5,11.729,5,20s6.729,15,15,15v-0.203C11.841,34.797,5.203,28.159,5.203,20z">
                                <animatetransform attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" calcMode="spline" keySplines="0.4, 0, 0.2, 1" keyTimes="0;1" dur="2s" repeatCount="indefinite"></animatetransform>
                            </path>
                            <path fill="#859900" stroke="#C2CFFE" stroke-width="0.5" stroke-miterlimit="10" d="M7.078,20    c0-7.125,5.797-12.922,12.922-12.922V6.875C12.763,6.875,6.875,12.763,6.875,20S12.763,33.125,20,33.125v-0.203    C12.875,32.922,7.078,27.125,7.078,20z">
                                <animatetransform attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="1.8s" repeatCount="indefinite"></animatetransform>
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        //alert('ggggg');
        $('#showdata').show();
        $('#loading_ui').hide();
    });
</script>
<script>

    function sleep(numberMillis) {
        var now = new Date();
        var exitTime = now.getTime() + numberMillis;
        while (true) {
            now = new Date();
            if (now.getTime() > exitTime)
                return;
        }
    }

    function data_sync() {
        var selectcol = $('#selectcol').text();
        var pid = $('#pid').text();
        var up_header_arr = new Array();
        up_header_arr = selectcol.split(',')
        var select_col = "";
        for (var i = 0; i < up_header_arr.length; i++) {
            var cbname = "cb_" + i.toString();
            var checkbox = document.getElementById(cbname);
            var rdname = "encryptionType_" + i.toString();
            var selectname = 'input[name="' + rdname + '"]:checked';
            var selectedValue = $(selectname);
            if (checkbox.checked) {
                select_col += up_header_arr[i] + ',';

            }
        }
         
        var pname = $('#pname').text();
        var pname_cht = $('#pname_cht').text();
         // location.href = "/Home/ProjectIndex";
       //    var return_url =$('#returnurl').text();
                   var returnurl = $('#returnurl').text();
        var loginname = $('#loginname').text();
        $.ajax({
            type: "get",
            url: "/api/WebAPI/checkdataassocation",
            contentType: "application/json",
            async: true,
            data:
            {
                pid: pid, selectcol: selectcol
                //,r_value:rvalue,t1:t1value,t2:t2value
            },
            success: function (response) {
                if(response)
                {
                    $('#datachecking').modal('hide');
                    $('#datadir').modal({ backdrop: 'static', keyboard: false });
                    $('#datadir').modal('show');
                    location.href = "@Url.Action("MLutility", "ProjectStep")/?proj_id=" + encodeURIComponent(pid) + "&project_name=" + encodeURIComponent(pname) + "&project_cht=" + encodeURIComponent(pname_cht)+"&loginname=" + encodeURIComponent(loginname) + "&returnurl=" + encodeURIComponent(returnurl);;

                }
                
            },
            error: function (response) {
                alert('Error');


            }
        });
    }

</script>


