@model IEnumerable<ProjectSample5Data>
@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "MLutility";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <!-- <li>
                @Html.ActionLink(localizer.Text.project_list, "ProjectIndex", "Home")
            </li>
            <li>
                <a href="@Url.Action("MLutility", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"],project_cht=ViewData["Project_cht"] })">@ViewData["Project_cht"]</a>
            </li> -->
        </ul>
    </div>
</section>
<section class="project_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="project_title">
                        <h4>@ViewData["Project_Cht"]</h4>
                    </div>
                   <div class="status_bar">
                        <h4 class="method">差分隱私流程</h4>
                        <div class="status">
                            <div class="status_no_line">
                                <h6>欄位選擇及屬性判定</h6>
                                <p>Data property settings</p>
                                <h3>1</h3>
                            </div>
                        </div>
                        
                        <div class="status">
                            <div class="status_notnow">
                                <h6>關聯屬性欄位設定</h6>
                                <p>Related attribute field settings</p>
                                <h3>2</h3>
                            </div>
                        </div>
                        
                        <div class="status">
                            <div class="status_notnow active">
                                <h6>隱私強化處理</h6>
                                <p>DP setting</p>
                                <h3>3</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>報表產生與資料匯出</h6>
                                <p>Report and data export</p>
                                <h3>4</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="project_content">
                        <h4 class="title">隱私強化處理<span class="step_inf">*請選擇隱私強化程度</span></h4>
                        <div class="level-select">
                            <label class="control-label">隱私層級</label>
                            <select class="form-control" id="PL-options">
                                <option value="1">LV1</option>
                                <option value="2">LV2</option>
                                <option value="3">LV3</option>
                            </select>
                        </div>
                        <table class="table table-hover  table-bordered level-table">
                            <thead class="thead-inverse" style="">
                                <tr>
                                    <th class="text-center">隱私強化程度</th>
                                    <th class="text-center">資料可用性</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center"><strong>LV1</strong></td>
                                    <td class="text-center">高</td>
                                    <td><div class="circle" style="background:green"></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><strong>LV2</strong></td>
                                    <td class="text-center">中</td>
                                    <td><div class="circle" style="background:yellow"></div></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><strong>LV3</strong></td>
                                    <td class="text-center">低</td>
                                    <td><div class="circle" style="background:orange"></div></td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="btn btn_sbe btn_back" id="backpet" onclick="returnpetpage()">回主系統</div>
                        <div class="btn btn_sbe btn_back" id="back" onclick="getbacklastpage()">@localizer.Text.back</div>
                            <button type="button" class="btn btn_mbs btn_next" id="next" data-toggle="modal"  onclick="getMLutility()">
                                @localizer.Text.next
                            </button>
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="exampleModalLongTitle">差分隱私</h4>
                                        </div>
                                        <div class="modal-body">
                                                差分隱私中，依資料大小不同需花費數分鐘到數小時不等，完成後將以狀態通知。
                                        </div>
                                        <div class="modal-footer">
                                            <!-- 這邊要連結到ProjectIndex -->
                                            <button type="button" class="btn btn_mbs" data-dismiss="modal" onclick="returntopage()">確定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <label id="tbDatacount" style="display: none">@Model.Count()</label>
                    <label id="pid" style="display: none">@ViewData["ProjectId"]</label>
                    <label id="pname" style="display: none">@ViewData["ProjectName"]</label>
                    <label id="savecolerror" style="display: none">@localizer.Message.save_col_error</label>
                    <label id="pname_cht" style="display:none">@ViewData["Project_cht"]</label>
                    <label id="returnurl" style="display: none">@ViewData["returnurl"]</label>
                    <label id="loginname" style="display: none">@ViewData["loginname"]</label>
                </div>
            </div>
        </div>
    </div>
    
</section>
<script>

    var tbDatacount = $('#tbDatacount').text();
    for (i = 0; i < parseInt(tbDatacount); i++) {
        var tbData = "#tbData_" + (i + 1).toString();
        var tablenum = "#table_" + (i + 1).toString();
        //         string formaterr = "tbforerror_" + x.ToString();

        var tbDatas = JSON.parse($('#gan_selectdata').text());

        $(tablenum).bootstrapTable({
            data: tbDatas
        });


    }
</script>
<script>
      function returnpetpage() {
           
           var returnurl =$('#returnurl').text();
        
       location.href = returnurl;
    
    }

    function getMLutility() {
        // alert('1');
        var cbcount = 0;
        var cbcolname = "";
        var project_privacy_level = $('#PL-options').val();
        var pid = $('#pid').text();
        var pname = $('#pname').text();
        var pname_cht = $('#pname_cht').text();
           var returnurl = $('#returnurl').text();
        var loginname = $('#loginname').text();
        //alert(pname);
        //alert(pname_cht);
        //alert('2');
        $.ajax({
            type: "get",
            url: "/api/WebAPI/SendMLutility",
            contentType: "application/json",
            async: true,
            data:
            {
                pid: pid, privacy_level: project_privacy_level
            },
            success: function (response) {
                //成功
                 //
                $('#exampleModalCenter').modal({ backdrop: 'static', keyboard: false });
                $('#exampleModalCenter').modal('show');
                sleep(2000);
                location.href = "@Url.Action("DpSyncReport", "ProjectStep")/?proj_id=" + encodeURIComponent(pid) + "&project_name=" + encodeURIComponent(pname) + "&project_cht=" + encodeURIComponent(pname_cht)+"&loginname=" + encodeURIComponent(loginname) + "&returnurl=" + encodeURIComponent(returnurl);

            },
            error: function (response) {
                //alert(savecolerror);
            }
        });
    }

      function returntopage() {
          //  location.href = "/Home/ProjectIndex";
            var return_url =$('#returnurl').text();
            var pid = $('#pid').text();
        var pname = $('#pname').text();
        var pname_cht = $('#pname_cht').text();
        var returnurl =$('#returnurl').text();
        var loginname =$('#loginname').text();
       
       // location.href = return_url;
         location.href = "@Url.Action("DpSyncReport", "ProjectStep")/?proj_id=" + encodeURIComponent(pid) + "&project_name=" + encodeURIComponent(pname) + "&project_cht=" + encodeURIComponent(pname_cht)+"&loginname=" + encodeURIComponent(loginname) + "&returnurl=" + encodeURIComponent(returnurl);

    }

     function getbacklastpage()
    {
        var pid = $('#pid').text();
        var pname = $('#pname').text();
        var pname_cht = $('#pname_cht').text();
        var returnurl =$('#returnurl').text();
        var loginname =$('#loginname').text();
         location.href = "@Url.Action("Dataassociation", "ProjectStep")/?proj_id=" + encodeURIComponent(pid) + "&project_name=" + encodeURIComponent(pname) + "&project_cht=" + encodeURIComponent(pname_cht)+"&loginname=" + encodeURIComponent(loginname) + "&returnurl=" + encodeURIComponent(returnurl);;
                 
    }

</script>