@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "Step1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function CheckJobStatus() {
        $.ajax({
            type: "get",
            url: "/api/WebAPI/CheckJobStatus",
            contentType: "application/json",
            data: {
                pname: pname,
                pid: pdes
            },
            success: function (data, status) {
                // alert('project load success');
                //alert(data);
                //    $("#projectlist").html(data);
                if (data == "100") {
                    //轉換頁面
               //     location.href = '@Url.Action("Step2", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"] })';
                }
                else {
                    alert('匯入資料尚未完成請稍後!');
                }

            },
            error: function (data, status) {

            }

        });

        return false;
    }
</script>
<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <li><a href="@Url.Action("ProjectIndex","Home")">@localizer.Text.project_list</a></li>
            <li><a href="@Url.Action("Step1", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"] })">@ViewData["ProjectName"]</a></li>
        </ul>
    </div>
</section>
<section class="project_wrapper">
  <div class="container">
	<div class="row">
	  <div class="col-sm-12">
		<div class="col-sm-3">
			<div class="project_title">
				<h4>@ViewData["ProjectName"]</h4>
			</div>
			<div class="status_bar">
				<h4 class="method">資料生成流程</h4>
				<div class="status">
					<div class="status_notnow active">
						<h6>@localizer.Text.step1</h6>
						<p>@localizer.Text.step1_menu_list</p>
						<h3>1</h3>
					</div>
				</div>
				<div class="status">
					<div class="status_notnow">
						<h6>@localizer.Text.step2</h6>
						<p>@localizer.Text.step2_menu_list</p>
						<h3>2</h3>
					</div>
				</div>
				<div class="status">
					<div class="status_notnow">
						<h6>@localizer.Text.step3</h6>
						<p>@localizer.Text.step3_menu_list</p>
						<h3>3</h3>
					</div>
				</div>
				<div class="status">
					<div class="status_notnow">
						<h6>@localizer.Text.step4</h6>
						<p>@localizer.Text.step4_menu_list</p>
						<h3>4</h3>
					</div>
				</div>
				<div class="status">
					<div class="status_notnow">
						<h6>@localizer.Text.step5</h6>
						<p>@localizer.Text.step5_menu_list</p>
						<h3>5</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="project_content">
				<div class="project_info">
					<h2>@ViewData["ProjectName"]</h2>
					<p>
						@ViewData["ProjectDesc"]
					</p>
				</div>
				<h4 class="title">@localizer.Text.step1<span class="step_inf">@localizer.Text.step1_info</span></h4>
				<div class="container">
					<div class="select_table">
						<ul class="unstyled">
							@{
								var filelist = ViewData["file"].ToString();
								if (filelist != "")
								{
									var filearray = filelist.Split(',');
									if (filearray.Length > 0)
									{
										for (int i = 0; i < filearray.Length; i++)
										{
											var id = "styled-checkbox-" + (i + 1);
											<li>
												<label for="@id">@filearray[i].ToString()</label>
											</li>
										}
									}
								}
								else
								{
									<li>
										<label for="styled-checkbox-1">@localizer.Text.no_data</label>
									</li>
								}


							}
						</ul>
					</div>
					<div class="tabs">
						  <div class="tab"><div class="tab-box"></div></div>
						  <div class="tab"><div class="tab-box"></div></div>
						  <div class="tab active"><div class="tab-box"></div></div>
						  <div class="tab"><div class="tab-box"></div></div>
					</div>
					<div class="content">
					</div>
				</div>
				<label id="pid" style="display:none">@ViewData["ProjectId"]</label>
				<label id="pname" style="display:none">@ViewData["ProjectName"]</label>
				<label id="pstep" style="display:none">@ViewData["ProjectStep"]</label>
				<label id="importno" style="display:none">@localizer.Message.import_not_finish</label>
				<label id="dimport" style="display:none">@localizer.Message.import</label>
				<div class="btn btn_sbe btn_back" id="back">@localizer.Text.back</div>
				@*<div class="btn btn_sbe btn_back" id="save">儲存</div>*@
				@*<div class="btn btn_mbs btn_next" id="next"><a class="a_unstyled" href=" @Url.Action("Step2", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"] })">下一步</a></div>*@
				<div class="btn btn_mbs btn_next" id="importbtn"><a href="javascript:void(0);" onclick="ImportFile()">@localizer.Text.next</a></div>
				@*<div class="btn btn_mbs btn_next" id="next"><a class="a_unstyled" href=" @Url.Action("Step2", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"] })">下一步</a></div>
				<div class="btn btn_mbs btn_next" id="stopnext" style="display:none"><a class="a_unstyled" href="javascript:void(0);" onclick="stopStep()">下一步</a></div>*@
			</div>
		  </div>
		</div>
	  </div>
	</div>
</section>
<script>
   
    function stopStep() {
        var importno = $('#importno').text();

        alert(importno);
        return false;
    }
    function ImportFile() {
       // alert(pid);
        var pstep = $('#pstep').text();
        var pname = $('#pname').text();
        var pid = $('#pid').text();
        var dimport = $('#dimport').text();

       // alert(pstep);
        if (pstep == "2") {
            location.href = "@Url.Action("Step2", "ProjectStep")/?proj_id=" + pid + "&project_name=" + pname;
        }
        else {
            alert(dimport);
            //showLoading();
            $.ajax({
                type: "get",
                url: "/api/WebAPI/ImportData",
                contentType: "application/json",
                data: {
                    pname: pname,
                    pid: pid
                },
                success: function (data, status) {
                    if (data == "1") {
                        //alert("資料匯入中");
                        //completeLoading();
                        location.href = "@Url.Action("ProjectIndex", "Home")";
                    }
                },
                error: function (data, status) {

                }

            });
        }
    }
</script>
