@model IEnumerable<ProjectSampleDBData>
@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "Step4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <!-- <li>
                @Html.ActionLink(localizer.Text.project_list, "ProjectIndex", "Home")
            </li>
            <li>
                <a href="@Url.Action("Step4", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"],project_cht=ViewData["Project_cht"] })">@ViewData["Project_cht"]</a>
            </li> -->
        </ul>
    </div>
</section>
<section class="project_wrapper">
  <div class="container">
	<div class="row">
	  <div class="col-sm-12">
		<div class="col-sm-3">
			<div class="project_title">
				<h4>@ViewData["Project_cht"]</h4>
			</div>
            <div class="status_bar">
                <h4 class="method">K匿名隱私強化流程</h4>
                <div class="status">
                    <div class="status_no_line">
                        <h6>@localizer.Text.step2</h6>
                        <p>@localizer.Text.step2_menu_list</p>
                        <h3>1</h3>
                    </div>
                </div>
                <div class="status">
                    <div class="status_notnow">
                        <h6>@localizer.Text.step3</h6>
                        <p>@localizer.Text.step3_menu_list</p>
                        <h3>2</h3>
                    </div>
                </div>
                <div class="status">
                    <div class="status_notnow active">
                        <h6>隱私強化處理</h6>
                        <p>@localizer.Text.step4_menu_list</p>
                        <h3>3</h3>
                    </div>
                </div>
                <div class="status">
                    <div class="status_notnow">
                        <h6>報表產生與資料匯出</h6>
                        <p>@localizer.Text.step6_menu_list</p>
                        <h3>4</h3>
                    </div>
                </div>
            </div>
		</div>
		<div class="col-sm-9">
            <div class="inside project_content">
                <h4 class="title">隱私強化處理</h4>
                <div id="jobs" class="container">
                    <form class="form" action="" method="post" role="form">
                        <input id="project_token" name="" type="hidden" value="">
                        <div class="step4_form">
                            <label class="control-label"> @localizer.Text.select_dataset</label>
                            <input type="text" name="singletb" disabled="disabled" value="@ViewData["tbGenName"]"/>
                            <!-- <select class="form-control" id="selectsingle"
                                    name="singletb" asp-items="@(new SelectList(@ViewBag.listtb, "ps_id", "finaltblName"))"></select> -->
                        </div>
                        <div class="step4_form">
                            <label class="control-label">@localizer.Text.k_risk</label>
                            <select class="form-control" id="k_checking" name="">
                                @*<option value="">@localizer.Text.k_risk_label</option>*@
                                <option value="">@localizer.Text.k_delete</option>
                                @*<option value="">K< Supression</option>*@
                            </select>
                        </div>
                        <div class="btn btn_sbs step4_form_run" id="btn_job_01" onclick="getJob('job1')">@localizer.Text.run</div>
                    </form>
                </div>
                <label id="pid" style="display:none">@ViewData["ProjectId"]</label>
                <label id="pname" style="display:none">@ViewData["ProjectName"]</label>
                <label id="pname_cht" style="display:none">@ViewData["Project_cht"]</label>
                <label id="kvalue" style="display: none">@ViewData["kvalue"]</label>
                <label id="prostatus" style="display:none">@ViewData["ProjectStep"]</label>
                <label id="finaltblName" style="display:none">@ViewData["tbGenName"]</label>
                <label id="jobvalue" style="display:none"></label>
                <label id="job1" style="display:none">@ViewData["job1"]</label>
                <label id="job2" style="display:none">@ViewData["job2"]</label>
                <label id="job3" style="display:none">@ViewData["job3"]</label>
                <label id="job4" style="display:none">@ViewData["job4"]</label>
                <label id="job5" style="display:none">@ViewData["job5"]</label>
                <label id="jobrun" style="display:none">@localizer.Message.job_run</label>
                <label id="dodeid" style="display:none">@localizer.Message.do_deid</label>
                <label id="deiderror" style="display:none">@localizer.Message.deid_error</label>
                <label id="jobsave" style="display:none">@localizer.Message.job_save</label>
                <label id="lbselect" style="display:none">@localizer.Text.select</label>
                <label id="jobing" style="display:none">@localizer.Message.jobing</label>
                <label id="dsempty" style="display:none">@localizer.Message.dataset_empty</label>
                <label id="jbsaveerror" style="display:none">@localizer.Message.job_save_error</label>
                <label id="lbselect" style="display:none">@localizer.Text.select</label>
                <label id="lbselectcheck" style="display:none">@localizer.Message.select_dataset</label>
                      <label id="return_url" style="display:none">@ViewData["returnurl"]</label>
                          <label id="loginname" style="display: none">@ViewData["loginname"]</label>
                @*<div class="btn btn_mbs btn_next" id="next"><a class="a_unstyled" href="javascript:void(0)" onclick="finishDeId();">風險評估處理</a></div>*@
                @*<button type="button" class="btn btn_mbs btn_next" id="riskbtn" data-toggle="modal" onclick="finishDeId()">@localizer.Text.next</button>*@
                <!--資料無誤，成功-->
                <div class="modal fade scene" id="datarisk" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLongTitle">資料去識別化中</h4>
                            </div>
                            <div class="modal-body">
                                資料去識別化中，依資料大小不同需花費數分鐘到數小時不等，完成後將以鈴鐺通知。
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn_mbs" data-dismiss="modal" onclick="returntopage()">確定</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--資料檢查中動畫-->
                <div class="modal fade scene" id="datachecking" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <svg id="dc-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width:"38="" height:"38="" viewBox="0 0 38 38" preserveAspectRatio="xMinYMin meet">
                        <text x="14" y="21" font-size="2.5px" style="letter-spacing:0.2;" fill="grey">
                            資料檢查中
                            <animate attributeName="opacity" values="0;1;0" dur="1.8s" repeatCount="indefinite"></animate>
                        </text>
                        <path fill="#cccccc" d="M20,35c-8.271,0-15-6.729-15-15S11.729,5,20,5s15,6.729,15,15S28.271,35,20,35z M20,5.203    C11.841,5.203,5.203,11.841,5.203,20c0,8.159,6.638,14.797,14.797,14.797S34.797,28.159,34.797,20    C34.797,11.841,28.159,5.203,20,5.203z"></path>
                        <path fill="#cccccc" d="M20,33.125c-7.237,0-13.125-5.888-13.125-13.125S12.763,6.875,20,6.875S33.125,12.763,33.125,20    S27.237,33.125,20,33.125z M20,7.078C12.875,7.078,7.078,12.875,7.078,20c0,7.125,5.797,12.922,12.922,12.922    S32.922,27.125,32.922,20C32.922,12.875,27.125,7.078,20,7.078z"></path>
                        <path fill="#2AA198" stroke="#1890ff" stroke-width="0.6027" stroke-miterlimit="10" d="M5.203,20    c0-8.159,6.638-14.797,14.797-14.797V5C11.729,5,5,11.729,5,20s6.729,15,15,15v-0.203C11.841,34.797,5.203,28.159,5.203,20z">
                            <animatetransform attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" calcMode="spline" keySplines="0.4, 0, 0.2, 1" keyTimes="0;1" dur="2s" repeatCount="indefinite"></animatetransform>
                        </path>
                        <path fill="#859900" stroke="#C2CFFE" stroke-width="0.5" stroke-miterlimit="10" d="M7.078,20    c0-7.125,5.797-12.922,12.922-12.922V6.875C12.763,6.875,6.875,12.763,6.875,20S12.763,33.125,20,33.125v-0.203    C12.875,32.922,7.078,27.125,7.078,20z">
                            <animatetransform attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="1.8s" repeatCount="indefinite"></animatetransform>
                        </path>
                    </svg>
                </div>

            </div>
		</div>
	</div>
  </div>
 </div>
</section>
<script src="~/js/highcharts.js"></script>
<script src="~/js/variable-pie.js"></script>
<script>
    $(document).ready(function () {
        $('#jobs').show();
        $('#datachecking').hide();
		$('#datarisk').hide();
        });
</script>
<script>
    function getJob(jobname) {
       
        var deiderror = $('#deiderror').text();;
        $('#datachecking').modal('show');
        $('#datachecking').modal({ backdrop: 'static', keyboard: false });

        //alert(jobrun);
        //alert(jobname);
        //alert(dodeid);
            var pid = $('#pid').text();;
            var pname = $('#pname').text();
            var finaltblName = $('#finaltblName').text();
        var jobvalue = 'job1';
        if (jobvalue == "")
            jobvalue = jobname;
            //alert(jobvalue);
              $.ajax({
                    type: "get",
                  url: "/api/WebAPI/GetKChecking",
                    contentType: "application/json",
                  data:
                  {
                      pid: pid, pname: pname, jobname:jobvalue,finaltablename:finaltblName
                  },
                    success: function (status) {
                        //document.location.href = "@Url.Action("Index","Home")";
                        if (status) {
                            //alert(dodeid);
                            //location.href = "@Url.Action("ProjectIndex", "Home")";
                            $('#datachecking').modal('hide');
                            $('#datarisk').modal({ backdrop: 'static', keyboard: false });
                            $('#datarisk').modal('show');
                        }
                        else {
                            $('#datachecking').modal('hide');
                            alert(deiderror);
                        }
                    },
                  error: function (status) {
                      $('#datachecking').modal('hide');
                        alert(deiderror);
                    }

                });
    }

</script>
<script>
    function savesingleJob() {
        var jobsave = $('#jobsave').text();;
        var lbselectcheck = $('#lbselectcheck').text();;

        alert(jobsave);
       
        var jobvalue = $('#jobvalue').text();
        var lbselect = $('#lbselect').text();
        var dsempty = $('#dsempty').text();
        var pid = $('#pid').text();;
        var pname = $('#pname').text();
        var jbsaveerror = $('#jbsaveerror').text();

        //var kvalue = $('#kvalue').text();
        var selectsingle = $("#selectsingle  option:selected").text();
        //alert(selectsingle);
        //if (selectsingle == lbselect || selectsingle == "") {
        //    alert(lbselectcheck);
        //    return false;
        //}

        $.ajax({
            type: "get",
            url: "/api/WebAPI/GetSingleTable",
            contentType: "application/json",
            data:
            {
                pid: pid, pname: pname, tablename: selectsingle, jobname: jobvalue
            },
            success: function (status) {
               // alert(lbselect);
            },
            error: function (status) {
                alert(jbsaveerror);
            }

        });
    }
</script>
<script>
    function finishDeId() {
        var pid = $('#pid').text();;
        var pname = $('#pname').text();
        var pname_cht = $('#pname_cht').text();
        //location.href = "@Url.Action("Step5", "ProjectStep")/?proj_id=" + encodeURIComponent(pid) + "&project_name=" + encodeURIComponent(pname) + "&project_cht=" + encodeURIComponent(pname_cht);
        $('#datachecking').modal('show');
        $('#datachecking').modal({ backdrop: 'static', keyboard: false });

            var pid = $('#pid').text();;
            var pname = $('#pname').text();
            var pname_cht = $('#pname_cht').text();
           // alert('風險評估進行中請耐心等候!')
            //SendDeIdRisk
            location.href = "@Url.Action("Step5", "ProjectStep")/?proj_id=" + pid + "&project_name=" + pname + "&project_cht=" + pname_cht;
            @*$.ajax({
                type: "get",
                url: "/api/WebAPI/SendDeIdRisk",
                contentType: "application/json",
                data:
                {
                    pid: pid, pname: pname
                },
                success: function (status) {
                    //alert(lbselect);
                    //location.href = "@Url.Action("ProjectIndex", "Home")";
                    if (status) {
                        $('#datachecking').modal('hide');
                        $('#datarisk').modal({ backdrop: 'static', keyboard: false });
                        $('#datarisk').modal('show');
                    }
                    else {
                        $('#datachecking').modal('hide');
                        alert('風險評估失敗!');
                    }
                },
                error: function (status) {
                    //alert(jbsaveerror);
                    $('#datachecking').modal('hide');
                    alert('風險評估失敗!');
                }

            });*@
    }



    function returntopage() {
       // location.href = "/Home/ProjectIndex";
       var return_url =$('#return_url').text();
        location.href = return_url;
    }
</script>
<script>
    var content = {
        chart: {
            type: 'variablepie',
        },
        tooltip: {
            headerFormat: '',
            pointFormat: '<span style="color:{point.color}">●</span> <b> {point.name}</b><br/>' +
                'Area (square km): <b>{point.y}</b><br/>' +
                'Population density (people per square km): <b>{point.z}</b><br/>'
        },
        series: [{
            minPointSize: 10,
            innerSize: '20%',
            zMin: 0,
            name: 'countries',
            data: [{
                name: 'insure',
                y: 551500,
                z: 118.7
            }, {
                name: 'MOU506.01',
                y: 312685,
                z: 124.6
            }, {
                name: 'live',
                y: 301340,
                z: 201.8
            }, {
                name: 'death',
                y: 41277,
                z: 214.5
            }]
        }]
    };
    $(function () {
        Highcharts.setOptions({
            colors: ['#58C9AF', '#4F80F9', '#476584', '#76DFF0'],
        });
        $('#de_id_preview').highcharts(content);
    });
</script>
<script>
    //設定de_id方法
    var de_id_modal = document.getElementById('de_id_setting');
    var de_id_btn01 = document.getElementById("job_setting_01");
    var de_id_btn02 = document.getElementById("job_setting_02");
    var de_id_btn03 = document.getElementById("job_setting_03");
    var de_id_btn04 = document.getElementById("job_setting_04");
    var de_id_btn05 = document.getElementById("job_setting_05");

    var de_id_close_span = document.getElementById("de_id_close");

    //de_id_btn.onclick = function () {

    //    de_id_modal.style.display = "block";
    //    var jobvalue = document.getElementById("jobvalue");
    //    jobvalue.innerText = "job1";
    //    //alert(2222);
    //}
    de_id_btn01.onclick = function () {

        de_id_modal.style.display = "block";
        var jobvalue = document.getElementById("jobvalue");
        jobvalue.innerText = "job1";


    }
    de_id_btn02.onclick = function () {

        de_id_modal.style.display = "block";
        var jobvalue = document.getElementById("jobvalue");
        jobvalue.innerText = "job2";
    }
    de_id_btn03.onclick = function () {
        de_id_modal.style.display = "block";
        var jobvalue = document.getElementById("jobvalue");
        jobvalue.innerText = "job3";

    }
    de_id_btn04.onclick = function () {
        de_id_modal.style.display = "block";
        var jobvalue = document.getElementById("jobvalue");
        jobvalue.innerText = "job4";

    }
    de_id_btn05.onclick = function () {

        de_id_modal.style.display = "block";
        var jobvalue = document.getElementById("jobvalue");
        jobvalue.innerText = "job5";
    }

    de_id_close_span.onclick = function () {
        de_id_modal.style.display = "none";
    }

</script>
<script>
    $('.method_form').find('input, textarea').on('keyup blur focus', function (e) {

        var $this = $(this),
            label = $this.prev('label');

        if (e.type === 'keyup') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.addClass('active highlight');
            }
        } else if (e.type === 'blur') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.removeClass('highlight');
            }
        } else if (e.type === 'focus') {

            if ($this.val() === '') {
                label.removeClass('highlight');
            }
            else if ($this.val() !== '') {
                label.addClass('highlight');
            }
        }

    });

    $('.tab a').on('click', function (e) {

        e.preventDefault();

        $(this).parent().addClass('active');
        $(this).parent().siblings().removeClass('active');

        target = $(this).attr('href');

        $('.tab_content_step4 > div').not(target).hide();

        $(target).fadeIn(600);

    });

</script>