@model IEnumerable<UtilityResult>
@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "ExportData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <li>

                @Html.ActionLink(localizer.Text.project_list, "ProjectIndex", "Home")
            </li>
            <li>
                <a href="@Url.Action("ExportData", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"] })">@ViewData["ProjectName"]</a>
            </li>
        </ul>
    </div>
</section>
<section class="project_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="project_title">
                        <h4>@ViewData["Project_Cht"]</h4>
                    </div>
                    <div class="status_bar">
                        <h4 class="method">資料生成流程</h4>
                        <div class="status">
                            <div class="status_no_line">
                                <h6>資料匯入及前處理</h6>
                                <p>@localizer.Text.step1_menu_list</p>
                                <h3>1</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>欄位選擇及屬性判定</h6>
                                <p>@localizer.Text.step2_menu_list</p>
                                <h3>2</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>資料生成</h6>
                                <p>@localizer.Text.step3_menu_list</p>
                                <h3>3</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>感興趣欄位設定</h6>
                                <p>@localizer.Text.step4_menu_list</p>
                                <h3>4</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>可用性分析</h6>
                                <p>@localizer.Text.step5_menu_list</p>
                                <h3>5</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow active">
                                <h6>報表與輸出</h6>
                                <p>@localizer.Text.step5_menu_list</p>
                                <h3>6</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="project_content">
                        <h4 class="title">@localizer.Text.step5<span class="step_inf">@localizer.Text.export</span></h4>
                        <div class="container">
                            <div class="select_table">
                                <ul class="unstyled">
                                    @{
                                        int i = 1;
                                        string labelname = "finaltb_" + i.ToString();
                                        foreach (var item in Model)
                                        {
                                            <li>
                                                <label for="styled-checkbox-1" id="@labelname">@item.select_csv</label>
                                            </li>
                                            i++;
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <label id="tbcount" style="display:none">@Model.Count()</label>
                        <label id="pid" style="display:none">@ViewData["ProjectId"]</label>
                        <label id="pname" style="display:none">@ViewData["ProjectName"]</label>
                        <label id="p_selectcsv" style="display:none">@ViewData["select_csvdata"]</label>
                        <label id="dataexport" style="display:none">@localizer.Message.export</label>
                        <label id="deiderror" style="display:none">@localizer.Message.deid_error</label>
                    <label id="returnurl" style="display: none">@ViewData["returnurl"]</label>
                        <label id="loginname" style="display: none">@ViewData["loginname"]</label>
                        <div class="btn btn_mbs btn_next" id="next">
                            @*<a class="a_unstyled" href="step5_02.html">下一步</a>*@
                            <a class="a_unstyled" href="javascript:void(0)" onclick="exportFile();">@localizer.Text.export</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function exportFile()
    {
        //input json: {'projID': '123', 'userID': 'JOJO', 'projName': 'adult', 'dataName' : ['synthetic_transform_rmhit3.csv']}
     var pid = $('#pid').text();;
            var pname = $('#pname').text();
        var p_selectcsv = $('#p_selectcsv').text();
           var return_url =$('#return_url').text();
        
    $.ajax({
                    type: "get",
                  url: "/api/WebAPI/ExportData",
                    contentType: "application/json",
                  data:
                  {
                      pid: pid, pname: pname, selectcsv: p_selectcsv
                  },
        success: function (status) {
            //alert(status);
                        //document.location.href = "@Url.Action("Index","Home")";
                        if (status) {
                            location.href = return_url;
                           // location.href = "@Url.Action("ProjectIndex", "Home")";
                        }
                        else {
                            alert('匯出錯誤');
                            return;
                        }
                    },
                    error: function (status) {
                        alert('匯出錯誤');
                        return;
                    }

                });

    }
</script>