@model IEnumerable<ProjectSampleDBData>
@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "GanSyncReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <li>

                @Html.ActionLink(localizer.Text.project_list, "ProjectIndex", "Home")
            </li>
            <li>
                <a href="@Url.Action("GanSyncReport", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"], project_cht = ViewData["Project_Cht"] })">@ViewData["Project_Cht"]</a>
            </li>
        </ul>
    </div>
</section>
<section class="project_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="project_title">
                        <h4>@ViewData["Project_Cht"]</h4>
                    </div>
                    <div class="status_bar">
                        <h4 class="method">資料生成流程</h4>
                        <div class="status">
                            <div class="status_no_line">
                                <h6>資料匯入及前處理</h6>
                                <p>@localizer.Text.step1_menu_list</p>
                                <h3>1</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>欄位選擇及屬性判定</h6>
                                <p>@localizer.Text.step2_menu_list</p>
                                <h3>2</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>資料生成</h6>
                                <p>@localizer.Text.step3_menu_list</p>
                                <h3>3</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>感興趣欄位設定</h6>
                                <p>@localizer.Text.step4_menu_list</p>
                                <h3>4</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>可用性分析</h6>
                                <p>@localizer.Text.step5_menu_list</p>
                                <h3>5</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow active">
                                <h6>報表與輸出</h6>
                                <p>@localizer.Text.step5_menu_list</p>
                                <h3>6</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <h4 class="title">報表與輸出<span class="step_inf">* 多筆生成資料以syn./raw模型中Validation accuracy平均最高者，作為最佳的生成資料</span></h4>
                    <div class="r_table">
                        <div class="tabs">
                            @{
                                var rpcount_str = ViewData["RP_Count"];
                                int rpcount = int.Parse(rpcount_str.ToString());
                                var tabcollist = ViewData["project_col_list"];
                                var tab_arr = tabcollist.ToString().Split(',');
                                for (int i = 0; i < rpcount; i++)
                                {
                                    var tabname = tab_arr[i].ToString();
                                    if (i == 0)
                                    {
                                        <div class="tab active"><div class="tab-box"></div><div class="title">@tabname</div></div>
                                    }
                                    else
                                    {
                                        <div class="tab"><div class="tab-box"></div><div class="title">@tabname</div></div>
                                    }
                                }
                            }


                            @*<div class="tab"><div class="tab-box"></div><div class="title">感興趣欄位三</div></div>*@
                        </div>
                        <div class="contents">
                            @{
                                for (int x = 0; x < rpcount; x++)
                                {
                                    var classnm = "content";
                                    if (x == 0)
                                    {
                                        classnm = "content active";
                                    }
                                    <div class="@classnm">
                                        @{ for (int z = 1; z < 4; z++)
                                            {
                                                var tablenm = "tb" + (x + 1).ToString() + "_utility0" + z.ToString();
                                                var tb_desc = "";

                                                if (z == 1)
                                                {
                                                    tb_desc = "raw / raw 由原始資料建模，原始資料做驗證";

                                                }
                                                else if (z == 2)
                                                {
                                                    tb_desc = "syn. / raw 由合成資料建模，原始資料做驗證";
                                                }
                                                else
                                                {
                                                    tb_desc = "syn. / syn. 由合成資料建模，合成資料做驗證";
                                                }
                                                <div class="table_wapper">
                                                    <table class="table table-bordered table_info table_utility" id="@tablenm">
                                                        <thead class="thead-dark">
                                                            <h5 class="u_h5">@tb_desc</h5>
                                                            <tr>
                                                                <th>模型</th>
                                                                <th>訓練資料分數</th>
                                                                <th>驗證資料分數</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="btn btn_sbe btn_back" onclick="returnml()">重選感興趣欄位</div>
                    <div class="btn btn_mbs btn_next">
                     <a href="@Url.Action("ExportData", "ProjectStep", new { proj_id=@ViewData["ProjectId"],project_name = @ViewData["ProjectName"],project_cht=@ViewData["Project_Cht"] })">匯出資料</a></div>
                </div>
            </div>
        </div>
        <label id="pid" style="display: none">@ViewData["ProjectId"]</label>
        <label id="pname" style="display: none">@ViewData["ProjectName"]</label>
        <label id="pname_cht" style="display: none">@ViewData["Project_Cht"]</label>
        <label id="rp_count" style="display: none">@ViewData["RP_Count"]</label>
        <label id="rp_11" style="display: none">@ViewData["rp_tab_lst_1_1"]</label>
        <label id="rp_12" style="display: none">@ViewData["rp_tab_lst_1_2"]</label>
        <label id="rp_13" style="display: none">@ViewData["rp_tab_lst_1_3"]</label>
        <label id="rp_21" style="display: none">@ViewData["rp_tab_lst_2_1"]</label>
        <label id="rp_22" style="display: none">@ViewData["rp_tab_lst_2_2"]</label>
        <label id="rp_23" style="display: none">@ViewData["rp_tab_lst_2_3"]</label>
        <label id="rp_31" style="display: none">@ViewData["rp_tab_lst_3_1"]</label>
        <label id="rp_32" style="display: none">@ViewData["rp_tab_lst_3_2"]</label>
        <label id="rp_33" style="display: none">@ViewData["rp_tab_lst_3_3"]</label>
    </div>
</section>
<script>
    //var tablenm = "tb" + (x + 1).ToString() + "_utility0" + z.ToString();
    //alert('11');
    var tbcount = $('#rp_count').text();
    var rp_11 = $('#rp_11').text();
    var rp_12 = $('#rp_12').text();
    var rp_13 = $('#rp_13').text();
    var rp_21 = $('#rp_21').text();
    var rp_22 = $('#rp_22').text();
    var rp_23 = $('#rp_23').text();
    var rp_31 = $('#rp_31').text();
    var rp_32 = $('#rp_32').text();
    var rp_33 = $('#rp_33').text();
    var z = 4;
    var utility_html = "<tr><td>{{model_name}}</td><td>{{ts}}</td><td>{{vs}}</td></tr>";
    var utility01 = "";
    var count_nm = parseInt(tbcount);
    for (var x = 0; x < count_nm; x++) {
        //外層tab
       //alert(x);
        for (var y = 1; y < z; y++) {
            var tblenm = '#tb' + (x + 1).toString() + '_utility0' + y.toString();
            //alert('33');
           // alert(tblenm);
            //alert(y);
            //alert(rp_11);
            if (x == 0 && y == 1) {
          //     alert('44');
                utility01 = rp_11;
            } else if (x == 0 && y == 2) {
             //  alert('55');
                utility01 = rp_12;
            }
            else if (x == 0 && y == 3) {
               // alert('33');
                utility01 = rp_13;
            } else if (x == 1 && y == 1) {
                utility01 = rp_21;
            } else if (x == 1 && y == 2) {
                utility01 = rp_22;
            } else if (x == 1 && y == 3) {
                utility01 = rp_23;
            } else if (x == 2 && y == 1) {
                utility01 = rp_31;
            } else if (x == 2 && y == 2) {
                utility01 = rp_32;
            } else {
                utility01 = rp_33;
            }
            //alert(utility01.list)
            $(tblenm).append(utility01);

        }

    }

    //迴圈
	//var utility01 = {};
	//utility01.list = [
	//	{model_name: "XGBoost", ts: "86.12", vs: "85.38"},
	//	{model_name: "SVM", ts: "87.18", vs: "85.76"},
	//	{model_name: "Random Forest", ts: "99.99", vs: "94.10"},
	//	{model_name: "Linear SVC", ts: "85.69", vs: "85.26"},
	//	{model_name: "Logistic Regression", ts: "85.65", vs: "85.28"},
	//];
	//var utility_html = "<tr><td>{{model_name}}</td><td>{{ts}}</td><td>{{vs}}</td></tr>";

	//for (var i = 0; i < utility01.list.length; i++) {
	//	var item_ra = utility01.list[i];
	//	var current_utility_html =
	//		utility_html.replace("{{model_name}}", item_ra.model_name)
	//			.replace("{{ts}}", item_ra.ts)
	//			.replace("{{vs}}", item_ra.vs)
	//	;
	//	$("#utility01").append(current_utility_html);
	//	$("#utility02").append(current_utility_html);
	//	$("#utility03").append(current_utility_html);
	//}
</script>
<script>
	var risk = {};
	risk.list = [
		{risk_m: "隨機目標再識別風險（QI-based）", value: "0.11%"},
		{risk_m: "單維敏感項目再識別風險（QI-based）", value: "0.11%"},
		{risk_m: "多維敏感項目再識別風險（QI-based）", value: "0.11%"},
		{risk_m: "多維敏感序列再識別風險", value: "0.00%"},
		{risk_m: "單維敏感序列再識別風險", value: "0.00%"},
	];
	var risk_html = "<tr><td class='half_col'>{{risk_m}}</td><td class='half_col'>{{value}}</td></tr>";

	for (var i = 0; i < risk.list.length; i++) {
		var item_ra = risk.list[i];
		var current_risk_html =
			risk_html.replace("{{risk_m}}", item_ra.risk_m)
				.replace("{{value}}", item_ra.value)
		;
		$("#risk").append(current_risk_html);
	}
</script>
<script>
	var warning = {};
	warning.list = [
		{name: "col-sm-12", count: "2,231"},
		{name: "col-sm-6", count: "83,314,551"},
		{name: "col-nickname", count: "121,209,211"},
		{name: "address", count: "29,936"},
		{name: "br_ick", count: "12,123"},
		{name: "pan_qwert", count: "6,662"},
		{name: "hc0215", count: "98,413,889"},
		{name: "pass_w_cd", count: "704,183"},
		{name: "col-md-1", count: "23,023"},
		{name: "col-hc-06", count: "931,232"},
		{name: "py_ca_bri", count: "560,136"},
		{name: "py_ca_diu", count: "27,880"},
	];
	var warning_html = "<tr><td class='half_col'>{{name}}</td><td class='half_col text_right'>{{count}}<img src='/images/warning.png'></td></tr>";

	for (var i = 0; i < warning.list.length; i++) {
		var item_ra = warning.list[i];
		var current_warning_html =
			warning_html.replace("{{name}}", item_ra.name)
				.replace("{{count}}", item_ra.count)
		;
		$("#warning").append(current_warning_html);
	}
</script>
<script>
	$('.tabs').click(function(event){
		let $tab = $(event.target).parent();
		$(this).find('.active').removeClass("active");
		$tab.addClass('active');
		let index = $tab.index();
		$(".contents .content").siblings('.active').removeClass('active').end().eq(index).addClass("active");
    })

    function returnml() {
        var pname_cht = $('#pname_cht').text();
        var pname = $('#pname').text();
        var pid = $('#pid').text();
        $.ajax({
            type: "get",
            url: "/api/WebAPI/returnMLStatus",
            contentType: "application/json",
            async: false,
            data:
            {
                pid: pid
            },
            success: function (response) {
                //成功

            },
            error: function (response) {
                //alert(savecolerror);
            }
        });
        location.href = "@Url.Action("MLUtility", "ProjectStep")/?proj_id=" + pid + "&project_name=" + pname + "&project_cht=" + pname_cht;
        
    }
</script>



