@model IEnumerable<ProjectSample5Data>
@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "GanSync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <!-- <li>

                @Html.ActionLink(localizer.Text.project_list, "ProjectIndex", "Home")
            </li>
            <li>
                <a href="@Url.Action("GanSync", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"],project_cht=ViewData["Project_Cht"] })">@ViewData["Project_Cht"]</a>
            </li> -->
        </ul>
    </div>
</section>
<section class="project_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="project_title">
                        <h4>@ViewData["Project_Cht"]</h4>
                    </div>
                   <div class="status_bar">
                        <h4 class="method">資料生成流程</h4>
                        <div class="status">
                            <div class="status_no_line active">
                                <h6>欄位選擇及屬性判定</h6>
                                <p>@localizer.Text.step2_menu_list</p>
                                <h3>1</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>合成資料產生</h6>
                                <p>@localizer.Text.step3_menu_list</p>
                                <h3>2</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>感興趣欄位設定</h6>
                                <p>@localizer.Text.step4_menu_list</p>
                                <h3>3</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>資料相似度比對</h6>
                                <p>Data similarity comparison</p>
                                <h3>4</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>報表產生與資料匯出</h6>
                                <p>@localizer.Text.step6_menu_list</p>
                                <h3>5</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="project_content">
                        <h4 class="title">欄位選擇及屬性判定<span class="step_inf">* 請勾選至少三個欲生成的欄位及判斷欄位屬性</span></h4>
                        <label id="project_id" style="display:none">@ViewData["ProjectId"]</label>
                        <label id="project_name" style="display:none">@ViewData["ProjectName"]</label>
                        <label id="project_cht" style="display:none">@ViewData["Project_Cht"]</label>
                        <label id="project_status" style="display:none">@ViewData["projectstatus"]</label>
                        <div class="step2_container">
                            @{
                                int x = 1;
                                foreach (var item in Model)
                                {
                                    var tbname = "";
                                    var tbcount = "";
                                    string tablenum = "table_" + x.ToString();
                                    string lbtable = "lbtable_" + x.ToString();
                                    string lbtbid = "lbtbid_" + x.ToString();
                                    string tb_col = "tbcol_" + x.ToString();
                                    string tb_colcht = "tbcolcht_" + x.ToString();
                                    string tbimport_col = "tbim_" + x.ToString();
                                    string impclose = "impcolse_" + x.ToString();
                                    string result_col = "tbresult_" + x.ToString();
                                    string formaterr = "tbforerror_" + x.ToString();
                                    string nofile = "nofile_" + x.ToString();
                                    tbname = item.file_name.ToString();
                                    string col_nunique = item.pro_col_en_nunique;
                                    var col_nun_arr = col_nunique.Split(',');
                                    tbcount = item.tableCount.ToString();
                                    var tb_col_cht = item.pro_col_cht;
                                    var col_cht_array = tb_col_cht.Split(',');

                                    var tbdata = item.data;
                                    // var datafield = "";

                                    <div class="table_info">
                                        <div class="col-sm-12 data_info">
                                            <p>已移除資料集中符合以下條件的欄位：</p>
                                            <ol class="delete_rule">
                                                <li>相異類型數量超過總筆數的 80% </li>
                                                <li>null 值超過總筆數的60%</li>
                                                <li>欄位中僅有唯一值的欄位</li>
                                            </ol>
                                            <p class="delete_rule_color">包含：<label id="lbrp_id">@ViewData["id_col"]</label></p>
                                            <h6>
                                                @localizer.Text.dataset_name：<label id="@lbtable">@tbname</label>
                                                <label id="@lbtbid" style="display: none">@item.id</label>
                                                <label id="@tb_col" style="display: none">@item.pro_col_cht</label>
                                            </h6>
                                            <h6>@localizer.Text.total_records：@tbcount</h6>
                                        </div>
                                        <label id="@tb_col" style="display: none">@tb_col_cht</label>
                                        <table id="@tablenum" width="100%">
                                            <thead>

                                                <tr>
                                                    <th data-field="title" align="center">@localizer.Text.en_col_name</th>
                                                    @{
                                                        for (int i = 0; i < col_cht_array.Length; i++)
                                                        {
                                                            var datafield = col_cht_array[i].ToString();
                                                            var cbname = "cb" + datafield;
                                                            <th data-field=@datafield><label class="data_label"><input type="checkbox" name="btSelectItem" id="@cbname" onclick="getcheckboxchange('@cbname')" /><span>@col_cht_array[i].ToString()</span></label></th>

                                                        }
                                                        //row_id 拿掉 UI就不會出現

                                                    }
                                                </tr>
                                                <tr>
                                                    <th data-field="title" align="center">單一欄位個數</th>
                                                    @{
                                                        for (int i = 0; i < col_cht_array.Length; i++)
                                                        {
                                                            var datafield = col_cht_array[i].ToString();
                                                            <th data-field=@datafield><label class="data_label"><span>@col_nun_arr[i].ToString()</span></label></th>

                                                        }
                                                        //row_id 拿掉 UI就不會出現

                                                    }
                                                </tr>
                                                <tr>
                                                    <th data-field="title" align="center">欄位屬性</th>
                                                    @{
                                                        for (int i = 0; i < col_cht_array.Length; i++)
                                                        {
                                                            var datafield = col_cht_array[i].ToString();
                                                            var radionm = "rd" + datafield;
                                                            var rdnum = "rd_" + datafield;
                                                            <th data-field=@datafield>
                                                                <label class="data_label"><input type="radio" name="@radionm" id="input_num" value="0" /><span>數值型</span></label>
                                                                <label class="data_label"><input type="radio" name="@radionm" id="input_cate" value="1" /><span>類別型</span></label>
                                                            </th>
                                                        }
                                                        //row_id 拿掉 UI就不會出現

                                                    }
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    string tbdatas = "tbData_" + x.ToString();
                                    <label id="@tbdatas" style="display: none">@item.data</label>
                                    x++;
                                }
                            }
                            <!--資料匯入loading動畫-->

                        </div>
                    </div>
                    <label id="tbDatacount" style="display: none">@Model.Count()</label>
                    <label id="pid" style="display: none">@ViewData["ProjectId"]</label>
                    <label id="pname" style="display: none">@ViewData["ProjectName"]</label>
                    <label id="fname" style="display: none">@ViewData["filename"]</label>
                    <label id="col_data" style="display: none">@ViewData["col_data"]</label>
                    <label id="obcolstr" style="display: none">@ViewData["ob_col_str"]</label>
                    <label id="idcol" style="display: none">@ViewData["old_idcol"]</label>
                    <label id="savecolerror" style="display: none">@localizer.Message.save_col_error</label>
                     <label id="returnurl" style="display: none">@ViewData["returnurl"]</label>
                     <label id="loginname" style="display: none">@ViewData["loginname"]</label>
                    @*<div class="btn btn_sbe btn_back" id="back" onclick="javascript: history.back(-1)">@localizer.Text.back</div>*@
                    <!--
                            <div class="btn btn_mbs btn_next" id="next">
                                <a class="a_unstyled" href="javascript:void(0)" onclick="SaveProjectTableStep();">@localizer.Text.next</a>
                            </div>
    -->
                    @*<button type="button" class="btn btn_mbs btn_next" id="next" data-toggle="modal" data-target="#exampleModalCenter" onclick="getganservice()">*@
                    <button type="button" class="btn btn_mbs btn_next" id="next" data-toggle="modal" onclick="getganservice()">
                        @localizer.Text.next
                    </button>
					<!--資料無誤，成功-->
                    <div class="modal fade" id="lessThanThree" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLongTitle">資料生成</h4>
                                </div>
                                <div class="modal-body">
                                    資料生成中，依資料大小不同需花費數分鐘到數小時不等，完成後將以狀態通知。
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn_mbs" data-dismiss="modal" onclick="returntopage()">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>
					<!--資料小於三筆-->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLongTitle">選擇欄位數過少</h4>
                                </div>
                                <div class="modal-body">
                                    為提升合成資料可用性，選擇欄位請勿小於三個。
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn_mbs" data-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>
					<!--資料檢查中動畫-->
                    <div class="modal fade" id="datachecking" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
                        <svg id="dc-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width:"38="" height:"38="" viewBox="0 0 38 38" preserveAspectRatio="xMinYMin meet">
                            <text x="14" y="21" font-size="2.5px" style="letter-spacing:0.2;" fill="grey">
                                資料檢查中
                                <animate attributeName="opacity" values="0;1;0" dur="1.8s" repeatCount="indefinite"></animate>
                            </text>
                            <path fill="#cccccc" d="M20,35c-8.271,0-15-6.729-15-15S11.729,5,20,5s15,6.729,15,15S28.271,35,20,35z M20,5.203    C11.841,5.203,5.203,11.841,5.203,20c0,8.159,6.638,14.797,14.797,14.797S34.797,28.159,34.797,20    C34.797,11.841,28.159,5.203,20,5.203z"></path>
                            <path fill="#cccccc" d="M20,33.125c-7.237,0-13.125-5.888-13.125-13.125S12.763,6.875,20,6.875S33.125,12.763,33.125,20    S27.237,33.125,20,33.125z M20,7.078C12.875,7.078,7.078,12.875,7.078,20c0,7.125,5.797,12.922,12.922,12.922    S32.922,27.125,32.922,20C32.922,12.875,27.125,7.078,20,7.078z"></path>
                            <path fill="#2AA198" stroke="#1890ff" stroke-width="0.6027" stroke-miterlimit="10" d="M5.203,20    c0-8.159,6.638-14.797,14.797-14.797V5C11.729,5,5,11.729,5,20s6.729,15,15,15v-0.203C11.841,34.797,5.203,28.159,5.203,20z">
                                <animatetransform attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" calcMode="spline" keySplines="0.4, 0, 0.2, 1" keyTimes="0;1" dur="2s" repeatCount="indefinite"></animatetransform>
                            </path>
                            <path fill="#859900" stroke="#C2CFFE" stroke-width="0.5" stroke-miterlimit="10" d="M7.078,20    c0-7.125,5.797-12.922,12.922-12.922V6.875C12.763,6.875,6.875,12.763,6.875,20S12.763,33.125,20,33.125v-0.203    C12.875,32.922,7.078,27.125,7.078,20z">
                                <animatetransform attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="1.8s" repeatCount="indefinite"></animatetransform>
                            </path>
                        </svg>
                    </div>
                    <!--勾選資料大於三筆後進入資料檢查-->

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function getcheckboxchange(cbname) {
        //alert(cbname);
        var colnm = cbname.substring(2, cbname.length);
        var newcbnm = '#' + cbname;
        var obcolstr = $('#obcolstr').text(); //系統篩選類別型資料
        if ($(newcbnm).prop('checked')) {
            //沒被勾選做什麼事
            //alert('22');
            var strs = new Array(); //定義一陣列
            strs = obcolstr.split(','); //字元分割
            //alert('33');

            for (x = 0; x < strs.length; x++) {
                if (strs[x].toString() == colnm) {
                    //  alert('1111');
                    //  alert(colnm);
                    var rdname = 'rd' + colnm;
                    //alert('2222');
                    //alert(rdname);
                    $("input[name='" + rdname + "'][value='1']").prop("checked", true);
                    $("input[name='" + rdname + "']").prop('disabled', true);
                }
                else
                {
                        $("input[name='" + rdname + "'][value='1']").prop("checked", true);
                }
            }

        } else {
            //alert('沒勾');
            var strs = new Array(); //定義一陣列
            strs = obcolstr.split(','); //字元分割
            //alert('33');

            for (x = 0; x < strs.length; x++) {
                if (strs[x].toString() == colnm) {
                    //  alert('1111');
                    //  alert(colnm);
                    var rdname = 'rd' + colnm;
                    //alert('2222');
                    //alert(rdname);
                    $("input[name='" + rdname + "'][value='1']").attr("checked", false);
                    $("input[name='" + rdname + "'][value='0']").attr("checked", false);
                    $("input[name='" + rdname + "']").prop('disabled', false);
                   
                    
                }
            }
            
        }
    }

    function getganservice() {
 
        var tbDatacount = $('#tbDatacount').text();
         var returnurl = $('#returnurl').text();
        var loginname = $('#loginname').text();
        //組table
        //  alert('2');
        $('#datachecking').modal('show');
        $('#datachecking').modal({ backdrop: 'static', keyboard: false });
        //sleep(500);
        var cbcount = 0;
        var cbcolname = "";
        var tbData = "#tbData_1";
        var tbcol = "#tbcol_1";
        var col_data = $(tbcol).text();
        console.log(col_data);
        var col_arr = new Array();
         // alert('3');
        //alert('fffff');
        var obcolstr = $('#obcolstr').text(); //系統篩選類別型資料
        var obcol_arr = new Array();
        obcol_arr = obcolstr.split(',');
        //alert(obcolstr)
        col_arr = col_data.split(',');
        //alert('ff');
            //   alert('4');
        for (i = 0; i < col_arr.length; i++) {
          // alert('ccccc');
            var newcbnm = '#cb' + col_arr[i].toString();
            var rbnm = 'rd' + col_arr[i].toString();            //alert('ccccc');
            //alert('ccccc');
               //alert(newcbnm);

            if ($(newcbnm).prop('checked')) {
               // alert('ccfffffccc');
               //alert(rbnm);
                cbcount++;
                cbcolname += col_arr[i].toString() + ',';
                var cbvalue = $("input[name='" + rbnm + "']:checked").val();
                //alert('ccc44444cc');
                //alert(cbvalue);
                if (cbvalue == "1") {
                    //類別
                  // alert('cchhhhhhhccc');

                    var isstr = true;
                    for (x = 0; x < obcol_arr.length; x++) {
                        if (obcol_arr[x] != col_arr[i]) {
                            isstr = false;
                            break;
                        }

                    }
                    //alert('cfdfdfdfd');
                    alert( col_arr[i]);
                    obcolstr += col_arr[i] + ',';
                }
                else {
                    //數字
                    alert('fffffgggg');
                }
                //確認數字類別
            }
            else {

            }

        }

         //alert('1');
        alert(obcolstr);
        //if (obcolstr.length > 0) {
        //    obcolstr = obcolstr.substring(0, obcolstr.length - 1);
        //}
        if (obcolstr.length > 2) {
            if (obcolstr.substring(obcolstr.length - 1, obcolstr.length) == ",") {
                obcolstr = obcolstr.substring(0, obcolstr.length - 1);
            }
        }

        if (cbcolname.length > 2) {
            if (cbcolname.substring(cbcolname.length - 1, cbcolname.length) == ",") {
                cbcolname = cbcolname.substring(0, cbcolname.length - 1);
            }
        }

       
        //準備call api
        //recover 設定值
        var pid = $('#project_id').text();
        var fname = $('#fname').text();
        var col_data = $('#col_data').text();
        var idcol = $('#idcol').text();
        var pname = $('#project_name').text();
        var pname_cht = $('#project_cht').text();
         alert('1');
        if (cbcount < 3) {
            //alert('選擇欄位請勿小於三個!!');
            //exampleModalCenter
            $('#datachecking').modal('hide'); 
            $('#exampleModalCenter').modal({ backdrop: 'static', keyboard: false });
            $('#exampleModalCenter').modal('show');
            sleep(2000);
        }
        else {
            //$('#datachecking').modal('hide'); 
            
            //    $('#lessThanThree').modal({ backdrop: 'static', keyboard: false });
            //    $('#lessThanThree').modal('show'); 

        //    alert(idcol);
        //    alert(idcol);

         alert('1');
        $.ajax({
            type: "get",
            url: "/api/WebAPI/SendGanSyncService",
            contentType: "application/json",
            async: false,
            data:
            {
                pid: pid, pname: pname, ob_col: obcolstr, selectcol: cbcolname, keyName: idcol, fname: fname, col_data: col_data
            },
            success: function (response) {
                //成功
                //alert(response);
                //sleep(15000);
                $('#datachecking').modal('hide'); 
                $('#lessThanThree').modal({ backdrop: 'static', keyboard: false });
                $('#lessThanThree').modal('show'); 
            },
            error: function (response) {
                //alert(savecolerror);
            }
        }); 
        }
    }

      function returntopage() {
         // location.href = "/Home/ProjectIndex";
           var return_url =$('#returnurl').text();
        location.href = return_url;
    }
    </script>
<script>
	$('.tab').click(function(){
	  $('.tab').removeClass('active');
	  $(this).addClass('active');
	});
</script>
<script>

    var tbDatacount = $('#tbDatacount').text();
    //組table
    for (i = 0; i < parseInt(tbDatacount); i++) {
        var tbData = "#tbData_" + (i + 1).toString();
        var tablenum = "#table_" + (i + 1).toString();
    //         string formaterr = "tbforerror_" + x.ToString();

        var tbDatas = JSON.parse($(tbData).text());

        $(tablenum).bootstrapTable({
            data: tbDatas
        });


    }
    //recover 設定值
    var pid = $('#project_id').text();
    //alert(pid);
    var pname = $('#project_name').text();
   
    
</script>