@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "MemberProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <li>
                @Html.ActionLink(localizer.Text.project_list, "ProjectIndex", "Home")
            </li>
            <li>
                @Html.ActionLink("個人檔案", "MemberProfile", "Member")
            </li>

        </ul>
    </div>
</section>
<section class="profile_banner">
    <div class="container">
        <div class="big_avatar"><img src="~/images/profile_header.png" alt=""></div>
        <div class="id_info">
            <h3>HI @ViewData["memberAcc"]</h3>

        </div>
    </div>
</section>
<!--section.profile_middle
.container
  ul
    li
      a(href='#') 群組
    li.active
      a(href='#') 設定
-->
<section class="setting">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 setting_list">
                <div class="text_area">
                    <h4>變更密碼</h4>
                    <p>設定一組密碼來保護你的帳戶</p>
                </div>
            </div>
            <div class="col-sm-12 setting_list setting_list01" id="passwordlist" style="display:block">
                <div class="wrapper" id="form_content">
                    <form class="form" action="" method="post" role="form">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="ImUwZjQ2M2VmMjlkMWUxOTc0OWZjMzM3MDM2MDJhMDMwYWZhYTA1ZjMi.DQKdSA.kL2zhXP1UypfKsfAvGcahQ2DxUc">
                        <div class="form-group required">
                            <label class="control-label" for="current_password">舊密碼</label>
                            <input class="form-control" id="current_password" name="current_password" required="" type="password" value="">
                        </div>
                        <div class="form-group required">
                            <label class="control-label" for="new_password">新密碼 (8 至 20 個字元)</label>
                            <input class="form-control" id="new_password" name="new_password" required="" type="password" value="">
                        </div>
                        <div class="form-group required">
                            <label class="control-label" for="confirm_new_password">確認新密碼 (8 至 20 個字元)</label>
                            <input class="form-control" id="confirm_new_password" name="confirm_new_password" required="" type="password" value="">
                        </div>
                        <input class="btn btn-default" id="submit" name="submit" value="儲存" onclick="ChangePass(); return false;">
                    </form>
                </div>
            </div>
            <!--尚未討論，先不做-->
            <!--
                        <div class="col-sm-12 setting_list setting_list02">
                            <div class="text_area">
                                <h4>通知選項</h4>
                                <p>選擇要發送mail通知的選項</p>
                            </div>
                            <div class="button_box">
                                <button class="btn btn-default" id="change_notification">儲存</button>
                            </div>
                        </div>
            -->
        </div>
    </div>
    <label id="uid" style="display:none">@ViewData["memberId"]</label>
    <label id="userAcc" style="display:none">@ViewData["memberAcc"]</label>

</section>
<script>
    function ChangePass() {
        //alert('test');
         var current_password = $('#current_password').val();
         var new_password = $('#new_password').val();
         var confirm_new_password = $('#confirm_new_password').val();
         var uid = $('#uid').text();
         var userAcc = $('#userAcc').text();

          if(current_password=='')
         {
             alert('原始密碼不得為空!!');
             return;
         }


         if(new_password=='')
         {
             alert('新密碼不得為空!!');
             return;
         }

         if(current_password=='')
         {
             alert('原始密碼不得為空!!');
             return;
         }

          if(confirm_new_password=='')
         {
             alert('確認新密碼 不得為空 !!');
             return;
         }

            if(current_password ==new_password)
         {
             alert('新舊密碼需要不一致!');
             return;
         }

         if(new_password!=confirm_new_password)
         {
             alert('新密碼不一致!');
             return;
         }

         if(new_password.length < 8)
         {
             alert('新密碼長度 小於 8')
             return ;
         }

         if(new_password.length > 20)
         {
             alert('新密碼長度 小於 20')
             return ;
         }

         if(confirm_new_password.length < 8)
         {
             alert('確認新密碼長度 小於 8')
             return ;
         }

         if(confirm_new_password.length > 20)
         {
             alert('確認新密碼長度 小於 20')
             return ;
         }

             $.ajax({
                 type: "get",
                 url: "/api/WebAPI/ChangePassWd",
                 contentType: "application/json",
                 data: {
                     old_pwd: current_password,
                     new_pwd: new_password,
                     userAcc: userAcc,
                     userId: uid
                 },
                 success: function (data) {
                     //alert(data);
                     if (data == "1") {
                         alert('修改密碼成功!!');
                          location.reload();
                     }
                     else if (data == "-2") {
                         alert('原始密碼不同!');
                     }
                     else {

                         alert('修改密碼失敗');
                     }
                 },
                 error: function (data, status) {
                     alert('修改密碼失敗');
                 }

             });
     }
</script>