@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "StepDownload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <!-- <li><a href="@Url.Action("ProjectIndex","Home")">@localizer.Text.project_list</a></li>
            <li><a href="@Url.Action("StepDownload", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"],project_cht=ViewData["Project_cht"] })">@ViewData["Project_cht"]</a></li> -->
        </ul>
    </div>
</section>
<section class="project_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <!-- <div class="project_title">
                        <h4>先來個名字撐起高度</h4>
                    </div> -->
                    <div class="status_bar">
                        <h4 class="method">直接識別處理流程</h4>
                        <div class="status">
                            <div class="status_no_line">
                                <h6>資料匯入</h6>
                                <p>Data Import</p>
                                <h3>1</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow active">
                                <h6>直接識別處理</h6>
                                <p>Direct identification processing</p>
                                <h3>2</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="project_content">
                        <!-- 若前面為AES加密，會顯示此區，否則隱藏 -->
                        @{
                            var isaes = @ViewData["isaes"].ToString();
                            //if (isaes != "Y")
                            if (isaes != "n")
                            {
                               if (ViewBag.Files != null && ViewBag.Files.Count > 0)
                               {
                                    <h4 class="title">資料解密<span class="step_inf">*由AES加密的直接識別欄位可由此解密</span></h4>
                                    <form class="form download_form" action="" method="post" role="form">
                                        <input id="csrf_token" name="csrf_token" type="hidden" value="IjY1NTQzYzJjNWEwMzBlYWU5YmZjY2RiMTM5ZWZiNDg3ZTFhM2QxMWIi.DVv-gw.lB3kAc8_kwJv6Z2L-_mlgExWIcA">
                                        <div class="form-group required download_col_group">
                                            <label class="control-label">選擇解密欄位</label>
                                            <div class="download_col">
                                                <div class="dir_col">
                                                    @{
                                                        var upload_header = @ViewData["upload_header"].ToString();
                                                        var up_header_arr = upload_header.Split(',', StringSplitOptions.RemoveEmptyEntries);
                                                        if (up_header_arr.Length > 0)
                                                        {
                                                            for (int i = 0; i < up_header_arr.Length; i++)
                                                            {
                                                                <label class="data_label"><input type="checkbox" /><span>@up_header_arr[i]</span></label>
                                                            }
                                                        }

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn btn_mbs btn_next" id="next" name="form"><a class="a_unstyled" onclick="getTodec();">檔案解密</a></div>
                                    </form>
                                }
                            }
                        }
                        <h4 class="title">資料下載<span class="step_inf"></span></h4>
                        <div class="select_table data_download">
                            <ul class="unstyled">
                                @{
                                    if (ViewBag.Files != null && ViewBag.Files.Count > 0)
                                    {
                                        foreach (var file in ViewBag.Files)
                                        {
                                            <li>
                                                <img src="~/images/download.png" alt=""><label for=""><a href="@Url.Action("Download", new { fileName = file,project_id=@ViewData["ProjectId"],project_name=@ViewData["ProjectName"],memberId=@ViewData["memberId"],memberacc=@ViewData["memberAcc"]   })">@file</a></label>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li>您並未匯出資料，故無資料提供下載，請重新回到查詢報表頁面後，進行後續資料匯出等動作!</li>
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!--資料無誤，成功-->
    <div class="modal fade scene" id="datadir" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">去識別化資料解密中</h4>
                </div>
                <div class="modal-body">
                   去識別化資料解密中，依資料大小不同需花費數分鐘到數小時不等，完成後將以鈴鐺通知。
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_mbs" data-dismiss="modal" onclick="returntopage()">確定</button>
                </div>
            </div>
        </div>
    </div>

       <!--資料檢查中動畫-->
    <div class="modal fade scene" id="datachecking" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <svg id="dc-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width:"38="" height:"38="" viewBox="0 0 38 38" preserveAspectRatio="xMinYMin meet">
            <text x="14" y="21" font-size="2.5px" style="letter-spacing:0.2;" fill="grey">
                資料檢查中
                <animate attributeName="opacity" values="0;1;0" dur="1.8s" repeatCount="indefinite"></animate>
            </text>
            <path fill="#cccccc" d="M20,35c-8.271,0-15-6.729-15-15S11.729,5,20,5s15,6.729,15,15S28.271,35,20,35z M20,5.203    C11.841,5.203,5.203,11.841,5.203,20c0,8.159,6.638,14.797,14.797,14.797S34.797,28.159,34.797,20    C34.797,11.841,28.159,5.203,20,5.203z"></path>
            <path fill="#cccccc" d="M20,33.125c-7.237,0-13.125-5.888-13.125-13.125S12.763,6.875,20,6.875S33.125,12.763,33.125,20    S27.237,33.125,20,33.125z M20,7.078C12.875,7.078,7.078,12.875,7.078,20c0,7.125,5.797,12.922,12.922,12.922    S32.922,27.125,32.922,20C32.922,12.875,27.125,7.078,20,7.078z"></path>
            <path fill="#2AA198" stroke="#253FB9" stroke-width="0.6027" stroke-miterlimit="10" d="M5.203,20    c0-8.159,6.638-14.797,14.797-14.797V5C11.729,5,5,11.729,5,20s6.729,15,15,15v-0.203C11.841,34.797,5.203,28.159,5.203,20z">
                <animatetransform attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" calcMode="spline" keySplines="0.4, 0, 0.2, 1" keyTimes="0;1" dur="2s" repeatCount="indefinite"></animatetransform>
            </path>
            <path fill="#859900" stroke="#C2CFFE" stroke-width="0.5" stroke-miterlimit="10" d="M7.078,20    c0-7.125,5.797-12.922,12.922-12.922V6.875C12.763,6.875,6.875,12.763,6.875,20S12.763,33.125,20,33.125v-0.203    C12.875,32.922,7.078,27.125,7.078,20z">
                <animatetransform attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="1.8s" repeatCount="indefinite"></animatetransform>
            </path>
        </svg>
    </div>
    <label id="isaes" style="display:none">@ViewData["isaes"]</label>
    <label id="memberAcc" style="display:none">@ViewData["memberAcc"]</label>
    <label id="memberId" style="display:none">@ViewData["memberId"]</label>
    	<label id="pid" style="display: none">@ViewData["ProjectId"]</label>
	<label id="pcht" style="display: none">@ViewData["Project_cht"]</label>
	<label id="pname" style="display: none">@ViewData["ProjectName"]</label>
</section>

<script>
    $(document).ready(function () {
        $('#datachecking').hide();
        $('#datadir').hide();
        });


    function getTodec()
    {
      //  alert('1');
         var pid = $('#pid').text();
	      var pcht = $('#pcht').text();
	      var pname = $('#pname').text();
	      var memberId = $('#memberId').text();
           var memberAcc = $('#memberAcc').text();
           var checkedValues = $(".dir_col input[type='checkbox']:checked").map(function() {
      return $(this).next("span").text(); // 取得 checkbox 旁邊的文字
    }).get(); // 轉換成陣列
   //alert('2');
    // 如果 checkedValues 為空陣列，則回傳預設值
    var checkedValuesString = checkedValues.length > 0 ? checkedValues.join(",") : "";
    if(checkedValuesString =="")
    {
        alert("無選擇欄位!");
        return;
    }
    //alert('3');
       $('#datachecking').modal('show');
        $('#datachecking').modal({ backdrop: 'static', keyboard: false });
      $.ajax({
                type: "get",
                url: "/api/WebAPI/DecToFile",
                contentType: "application/json",
                data:
                {
                    pid: pid, pname: pname,memberid:memberId,memberacc:memberAcc,checkedValuesString:checkedValuesString
                    //,r_value:rvalue,t1:t1value,t2:t2value
                },
                success: function (response) {
                   // alert(response);
                    if (response==0) {
                     //  alert('0');
                     // 0 = 無加密直接跳匯入
                        $('#datachecking').modal('hide');
                        $('#datadir').modal({ backdrop: 'static', keyboard: false });
                        $('#datadir').modal('show');
                    }
                    else if(response==1){
                       // alert('1') 
                       //1 = 有加密需跳首頁
                        $('#datachecking').modal('hide');
                        $('#datadir').modal({ backdrop: 'static', keyboard: false });
                        $('#datadir').modal('show');
                    }
                    else
                    {
                        //錯誤
                        $('#datachecking').modal('hide');
                        alert('直接識別資料錯誤!');
                    }

                },
                error: function (response) {
                    alert('Error');
                    

                }
            });
    }

       function returntopage() {
       location.href = "/Home/ProjectIndex";
        // var pid = $('#pid').text();
        //var pname = $('#pname').text();
        //var pname_cht = $('#pcht').text();
        //location.href = "@Url.Action("StepUpload", "ProjectStep")/?proj_id=" + encodeURIComponent(pid) + "&project_name=" + encodeURIComponent(pname) + "&project_cht=" + encodeURIComponent(pname_cht);
   
    }
</script>