@using System.Globalization
@using Resources
@inject ILocalizer localizer
@{
    ViewData["Title"] = "Preview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function CheckJobStatus() {
        $.ajax({
            type: "get",
            url: "/api/WebAPI/CheckJobStatus",
            contentType: "application/json",
            data: {
                pname: pname,
                pid: pdes
            },
            success: function (data, status) {
                // alert('project load success');
                //alert(data);
                //    $("#projectlist").html(data);
                if (data == "100") {
                    //轉換頁面
               //     location.href = '@Url.Action("Step2", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"] })';
                }
                else {
                    alert('匯入資料尚未完成請稍後!');
                }

            },
            error: function (data, status) {

            }

        });

        return false;
    }
</script>
<section class="section_top">
    <div class="container">
        <ul class="bread_crumb">
            <li><a href="@Url.Action("ProjectIndex","Home")">@localizer.Text.project_list</a></li>
            <li><a href="@Url.Action("Preview", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"],project_cht=ViewData["Project_cht"] })">@ViewData["Project_cht"]</a></li>
        </ul>
    </div>
</section>
<section class="project_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
					<div class="project_title">
						<h4>@ViewData["Project_cht"]</h4>
					</div>
                    <div class="status_bar">
						<h4 class="method">資料生成流程</h4>
                        <div class="status">
                            <div class="status_no_line active">
                                <h6>資料匯入及前處理</h6>
                                <p>@localizer.Text.step1_menu_list</p>
                                <h3>1</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>欄位選擇及屬性判定</h6>
                                <p>@localizer.Text.step2_menu_list</p>
                                <h3>2</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>資料生成</h6>
                                <p>@localizer.Text.step3_menu_list</p>
                                <h3>3</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>感興趣欄位設定</h6>
                                <p>@localizer.Text.step4_menu_list</p>
                                <h3>4</h3>
                            </div>
                        </div>
                        <div class="status">
                            <div class="status_notnow">
                                <h6>可用性分析</h6>
                                <p>@localizer.Text.step5_menu_list</p>
                                <h3>5</h3>
                            </div>
                        </div>
						<div class="status">
                            <div class="status_notnow">
                                <h6>報表與輸出</h6>
                                <p>@localizer.Text.step5_menu_list</p>
                                <h3>6</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="project_content">
                        <div class="project_info">
                            <h2>@ViewData["Project_cht"]</h2>
                            <p>
                                @ViewData["ProjectDesc"]
                            </p>
                        </div>
                        <h4 class="title">資料匯入<span class="step_inf">* 請選擇欲處理專案內的隱私強化文件</span></h4>
                        <div id="showdata" class="container">
                            <div class="select_table">
								@{
                                                var filelist = ViewData["file"].ToString();
                                                var style = "";
                                                if (filelist != "")
                                                {
                                                    var filearray = filelist.Split(',');
                                                    if (filearray.Length > 0)
                                                    {
                                                        for (int i = 0; i < filearray.Length; i++)
                                                        {
                                                            var id = "styled-checkbox-" + (i + 1);

                                                <ul class="unstyled">
													<li>
														<img src="~/images/file.png" alt=""><label for="@id">@filearray[i].ToString()</label>
													</li>
												</ul>
											}
                                    }
									}
									else
									{
<!--
										<li>
											<label for="styled-checkbox-1">@localizer.Text.no_data</label>
										</li>
-->
                                        style = "display:none";
										<div class="empty_status text-center">
											<img src="~/images/no_data.png" alt="">
											<h6>@localizer.Text.no_data</h6>
										</div>
									}
								}
                            </div>
                            <div class="btn btn_sbe btn_back" id="back" style="@style">@localizer.Text.back</div>
                            <div class="btn btn_mbs btn_next" id="importbtn" style="@style"><a href="javascript:void(0);" onclick="preview_sync()">@localizer.Text.next</a>
                            </div>
                        </div>
                        <label id="profilenames" style="display:none">@ViewData["file"]</label>
                        <label id="pid" style="display:none">@ViewData["ProjectId"]</label>
                        <label id="pname" style="display:none">@ViewData["ProjectName"]</label>
                        <label id="pname_cht" style="display:none">@ViewData["Project_cht"]</label>
                        <label id="pstep" style="display:none">@ViewData["ProjectStep"]</label>
                        <label id="importno" style="display:none">@localizer.Message.import_not_finish</label>
                        <label id="dimport" style="display:none">@localizer.Message.import</label>
                        @*<div class="btn btn_mbs btn_next" id="next"><a class="a_unstyled" href=" @Url.Action("Step2", "ProjectStep", new { proj_id = ViewData["ProjectId"], project_name = ViewData["ProjectName"] })">下一步</a></div>
        <div class="btn btn_mbs btn_next" id="stopnext" style="display:none"><a class="a_unstyled" href="javascript:void(0);" onclick="stopStep()">下一步</a></div>*@
                    </div>
                    <div id="loading_ui" class="scene">
                        <svg id="dc-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width:"38="" height:"38="" viewBox="0 0 38 38" preserveAspectRatio="xMinYMin meet">
                            <text x="14" y="21" font-size="2.5px" style="letter-spacing:0.2;" fill="grey">
                                資料匯入中
                                <animate attributeName="opacity" values="0;1;0" dur="1.8s" repeatCount="indefinite"></animate>
                            </text>
                            <path fill="#cccccc" d="M20,35c-8.271,0-15-6.729-15-15S11.729,5,20,5s15,6.729,15,15S28.271,35,20,35z M20,5.203    C11.841,5.203,5.203,11.841,5.203,20c0,8.159,6.638,14.797,14.797,14.797S34.797,28.159,34.797,20    C34.797,11.841,28.159,5.203,20,5.203z"></path>
                            <path fill="#cccccc" d="M20,33.125c-7.237,0-13.125-5.888-13.125-13.125S12.763,6.875,20,6.875S33.125,12.763,33.125,20    S27.237,33.125,20,33.125z M20,7.078C12.875,7.078,7.078,12.875,7.078,20c0,7.125,5.797,12.922,12.922,12.922    S32.922,27.125,32.922,20C32.922,12.875,27.125,7.078,20,7.078z"></path>
                            <path fill="#2AA198" stroke="#1890ff" stroke-width="0.6027" stroke-miterlimit="10" d="M5.203,20    c0-8.159,6.638-14.797,14.797-14.797V5C11.729,5,5,11.729,5,20s6.729,15,15,15v-0.203C11.841,34.797,5.203,28.159,5.203,20z">
                                <animatetransform attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" calcMode="spline" keySplines="0.4, 0, 0.2, 1" keyTimes="0;1" dur="2s" repeatCount="indefinite"></animatetransform>
                            </path>
                            <path fill="#859900" stroke="#C2CFFE" stroke-width="0.5" stroke-miterlimit="10" d="M7.078,20    c0-7.125,5.797-12.922,12.922-12.922V6.875C12.763,6.875,6.875,12.763,6.875,20S12.763,33.125,20,33.125v-0.203    C12.875,32.922,7.078,27.125,7.078,20z">
                                <animatetransform attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="1.8s" repeatCount="indefinite"></animatetransform>
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        //alert('ggggg');
        $('#showdata').show();
        $('#loading_ui').hide();
        });
</script>
<script>

    function sleep(numberMillis) {
        var now = new Date();
        var exitTime = now.getTime() + numberMillis;
        while (true) {
            now = new Date();
            if (now.getTime() > exitTime)
                return;
        }
    }


    function preview_sync() {
       // alert('1111');
        var pstep = $('#pstep').text();
        var profilenames = $('#profilenames').text();
        var pname = $('#pname').text();
        var pname_cht = $('#pname_cht').text();
        var pid = $('#pid').text();
        var dimport = $('#dimport').text();
        //alert(pstep);
        if (pstep == "3") {
            location.href = "@Url.Action("GanSync", "ProjectStep")/?proj_id=" + pid + "&project_name=" + pname + "&project_cht=" + pname_cht;
        }
        else {
           // alert(dimport);
            //showLoading();
             $('#showdata').hide();
             $('#loading_ui').show();
            $.ajax({
                type: "get",
                url: "/api/WebAPI/ImportData",
                contentType: "application/json",
                data: {
                    pname: pname,
                    pid: pid,
                    filenames: profilenames
                },
                success: function (data, status) {
                    if (data == "1") {
                        //alert("資料匯入中");
                        //completeLoading();
                        sleep(6000);
                        location.href = "@Url.Action("GanSync", "ProjectStep")/?proj_id=" + pid + "&project_name=" + pname + "&project_cht=" + pname_cht;
                    }
                },
                error: function (data, status) {

                }

            });
        }
    }
</script>


